@{
    Layout = null;
}
@using System.Diagnostics
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/leafleft.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.cluetip.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo.metro.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ui.dynatree.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/leafletmap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/leaflet.ie.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/kendo.all.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery.UiBlock.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery.cluetip.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery.dynatree.min.js")" type="text/javascript"> </script>
        <script src="@Url.Content("~/Scripts/leaflet.js")" type="text/javascript"> </script>
    <script type="text/jscript">
    @{
        Debug.Assert(Context.Request.ApplicationPath != null, "Context.Request.ApplicationPath != null");
        var appUrl = Context.Request.ApplicationPath.Length == 1 ? "" : Context.Request.ApplicationPath;
     }
//            $(document).ready(function () {
//                var inputs = $(':input');
//                inputs.each(function () {
//                    $.ajax({ type: "GET", url: "@appUrl/Profile/AddRightToDatabase", data: { label: this.name, controllerName: '@ViewContext.RouteData.Values["controller"].ToString()', vAction: '@ViewContext.RouteData.Values["action"].ToString()'} ,error:function(e){debugger; alert(e.responseText);}});
//                });
//            });
    </script>
    @*this will inject individual script in the head tags (added by:tudor)*@
    @RenderSection("headscript", required: false)
    <style type="text/css">
        #headerF
        {
            position: relative;
            line-height: 1em;
        }
        .filterform
        {
            width: 220px;
            font-size: 12px;
            display: block;
        }
        .filterform input
        {
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
        }
    </style>
    
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="floatWrap">
                <img src="@Url.Content("~/Content/Metro/semplest_logo.png")"/>
                <ul class="kendo-nav">
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li><span>|</span></li>
                    <li>@Html.ActionLink("FAQs", "FAQ", "Home")</li>
                    <li><span>|</span></li>
                    <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                    <li><span>|</span></li>
                    <li>@Html.ActionLink("Log Off", "LogIn", "Profile")</li>
                </ul>
            </div>
        </div>
        <div id="sidebar">
            <script src="@Url.Content("~/Scripts/PanelBar.js")" type="text/javascript"> </script>
             <input type="hidden" id="SideBarUrl" value='@System.Configuration.ConfigurationManager.AppSettings["SideBarUrl"]'/>
            <ul id="panelbar-images">
                <li><span>Home</span>
                    <ul>
                        @{
                            if ((bool)Session[Semplest.SharedResources.SEMplestConstants.SESSION_ISKEYWORDBIDDING])
                            {
                                <li>@Html.ActionLink("My Account", "Index2", "Home")</li>
                                <li>@Html.ActionLink("Create Advertising", "CampaignSetup", "Campaign")</li>
                                <li>@Html.ActionLink("Reporting", "Index", "Reporting")</li>
                                <li>@Html.ActionLink("Billing", "Billing", "Campaign")</li>
                                <li>@Html.ActionLink("My Profile", "MyProfile", "Account")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("My Account", "Index", "SmartWord")</li>
                                <li>@Html.ActionLink("Create Smart Words", "Setup", "SmartWord")</li>
                                <li>@Html.ActionLink("My Profile", "MyProfile", "Account")</li>
                            }
                        }
                    </ul>
                </li>
                <li><span>
                        @Model.Configuration.DefaultProductGroupName
                    </span>
                    <div style="height: 476px;" class="k-treeview">
                        <ul id="treeview">
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div id="content">
            <div class='centerWrap floatWrap widgetOverview' id="mainWrap">
                <div id="exampleTitleHeader">
                    <p id="exampleTitle">
                        @RenderSection("Title", false)<div style="margin-right: 15px; margin-top: -26px;
                                           text-align: right">
                                                          @RenderSection("SectionNav", false)</div>
                    </p>
                </div>
                <hr class="titlewhiteline" />
                <div id="mainWrapInner">
                    <div id="main">
                       @* <div id="tablewrapper">*@
                            @RenderBody()
                        @*</div>*@
                    </div>
                    <hr class="titlewhiteline" />
                </div>
            </div>
        </div>
          <div id="footer">
            <div class="floatWrap">
               <ul class="kendo-nav1">
                    <li><span style="width:600px;">&copy; 2012 SEMplest LLC.</span></li>
                    <li>@Html.ActionLink("Terms of Use", "TermsAndConditions", "Home")</li>
                    <li><span>|</span></li>
                    <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</li>
                    <li><span>|</span></li>
                    <li>@Html.ActionLink("Services Agreement", "ServicesAgreement", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        //        var height = $(window).height();
        //        $('#tablewrapper').height(height - 170);
        $.getJSON($('#SideBarUrl').val(), {}, function (data) {
            for (var mainGroup in data) {
                for (var subitem in data[mainGroup].SubItems) {
                    var items = [];
                    for (var subitem1 in data[mainGroup].SubItems[subitem].SubItems) {
                        items[subitem1] = ({ text: data[mainGroup].SubItems[subitem].SubItems[subitem1].Name, url: data[mainGroup].SubItems[subitem].SubItems[subitem1].Url });
                    }
                }
            }
        });
        var panelBar = $("#panelbar-images").kendoPanelBar({
            expandMode: "single"
        }).data("kendoPanelBar");
        var treeview = $("#treeview").kendoTreeView().data("kendoTreeView");
        $("#panelbar-images").on("click", ".k-in", function (e) {
            treeview.toggle($(e.target).closest(".k-item"));
        });
        $("#panelbar-profile").kendoPanelBar({
            dataSource: [
                {
                    text: "Home",
                    items: [
                        { text: "Reporting" },
                        { text: "Billing" },
                        { text: "Quick Start Guide" },
                        { text: "FAQs" },
                        { text: "Contact Us" }
                    ]
                }
            ],
            expandMode: "single"
        });
    </script>
</body>
</html>