@model IEnumerable<SemplestModel.ProductGroup>
@{
    ViewBag.Title = "My Account";
}
@section Title{
    My Account
}
@section Links{
    <div >
        <input type="button" class="k-button k-state-btnerror rounded" value="My Account" id="btnMyAccount" />
        <input type="button" class="k-button rounded" value="Ad Setup" id="btnAdSetup" />
        <input type="button" class="k-button rounded" value="Reporting" id="btnReporting" />
        <input type="button" class="k-button rounded" value="Billing" id="btnBilling" />
    </div>
}
@section Navbar{
    <div id="panelbar-images">
    </div>
<script src="@Url.Content("~/Scripts/PanelBar.js")" type="text/javascript"> </script>
    }
<br />
<br />

@Html.ActionLink("Add New Product Group Name", "AddProductGroupName",null, new { @class = "addnewproductgroupname" })

<p>@Html.ActionLink("Create New Product Group", "CampaignSetup", "Campaign")</p>
<p>Create Duplicate Product Group</p>

<p><b>Live Product Groups</b></p>
@foreach (SemplestModel.ProductGroup p in Model)
{
    @Html.ActionLink(p.ProductGroupName, "", "")<br />
}

<p><b>Unfinished Product Groups</b></p>
Safety Tips

<p><b>Paused Product Groups</b></p>
Agents

<p>Reporting Snap Shot </p>
<p>@Html.ActionLink("Account Information", "ChildProfile", "Account") </p>
 


<script type="text/javascript">
    $('#btnMyAccount').click(function () {
        window.location.href = '../Home/Index2';
        return false;
    });

    $('#btnAdSetup').click(function () {
        window.location.href = '../Campaign/CampaignSetup';
        return false;
    });
    $('#btnReporting').click(function () {
        window.location.href = '../Reporting/Index';
        return false;
    });
</script>


<div style="display:none;">
<form name="hiddenButton" id="hiddenButton" action="AddProductGroupName" method="post">

Add a new product group?

@Html.TextBox("newproductgroupname")

<br /><input type="button" id="btnAdd"  value="Add" class="k-button"/><input type="button" id="btnCancel"  value="Cancel" class="k-button"/></form>
</div>

<script language="javascript" >    $(document).ready(function () {

        $(".addnewproductgroupname").click(function (event) {
            $.blockUI(({ message: $('#hiddenButton') }));
            event.preventDefault();
        });

        $("#btnAdd").click(function (event) {
            $("#hiddenButton").submit();
        });

        $("#btnCancel").click(function (event) {
            $.unblockUI();
        });

    });
</script>