@model Semplest.Core.Models.HomeModelChild
@section Title{
    My Account (@ViewBag.Title)
}
<fieldset style="padding: 0; border-width: 1px; width: 400px">
    <legend><b>Account Actions</b></legend>
    <br/>
    <button class="k-button" id="btnCreatAd">
        <span class="k-icon k-add"></span>Create Advertising</button>
       
</fieldset>
 <br/>
<h3>
    Live Advertising: scroll over to see summary, click to edit</h3>
<table class="gradient-style">
    @foreach (SemplestModel.ProductGroup pg in Model.ProductGroups)
    {

        foreach (SemplestModel.Promotion p in pg.Promotions)
        {
            if (p.IsLaunched && !p.IsCompleted)
            {
                <tr>
                    <td style="width: 600px;">@Html.ActionLink(p.PromotionName, "CampaignSetup", "Campaign", new { promotionid = p.PromotionPK }, new { })
                    </td>
                    @if (p.IsPaused)
                    {
                        <td>@Html.ActionLink("Restart", "", new { @class = "k-button" })
                        </td>
                    }
                    else
                    {
                        <td>@Html.ActionLink("Pause", "")
                        </td>
                    }
                </tr>    
            

            }
        }
    }
</table>
 <br/>
<h3>
    Unfinished Advertising</h3>
<table class="gradient-style">
    @foreach (SemplestModel.ProductGroup pg in Model.ProductGroups)
    {
        foreach (SemplestModel.Promotion p in pg.Promotions)
        {
            if (!p.IsLaunched)
            {
        <tr>
            <td style="width: 600px;">@Html.ActionLink(p.PromotionName, "CampaignSetup", "Campaign", new { promotionid = p.PromotionPK }, new { })
            </td>
            <td>@Html.ActionLink("Delete", "")
            </td>
        </tr>
            }
        }
    }
</table>
<div style="display: none;">
    <form name="hiddenButton" id="hiddenButton" action="AddProductGroupName" method="post">
    Add a new product group name:
    @Html.TextBox("newproductgroupname", "", new { @class = "k-textbox" })
    <br />
    <input type="button" id="btnAdd" value="Add" class="k-button" /><input type="button"
        id="btnCancel" value="Cancel" class="k-button" /></form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".addnewproductgroupname").click(function (event) {
            $.blockUI(({ message: $('#hiddenButton') }));
            event.preventDefault();
        });
        $('#btnCreatAd').click(function () {
            location.href = '../Campaign/CampaignSetup';
        });
        $("#btnAdd").click(function (event) {
            $("#hiddenButton").submit();
        });

        $("#btnCancel").click(function (event) {
            $.unblockUI();
        });

    });
</script>
<input type="hidden" id="SideBarUrl" value='@System.Configuration.ConfigurationManager.AppSettings["SideBarUrl"]'/>