@model Semplest.Core.Models.HomeModelChild
@{
    ViewBag.Title = "My Account";
}
@section Title{
    My Account
}
@section Navbar{
    <div id="panelbar-images">
    </div>
<script src="@Url.Content("~/Scripts/PanelBar.js")" type="text/javascript"> </script>
    }
<br />
<br />

<p>@Html.ActionLink("Create New Product Group", "AddProductGroupName", null, new { @class = "addnewproductgroupname" })</p>
<p>Create Duplicate Product Group</p>
<p>@Html.ActionLink("Create Advertising", "CampaignSetup", "Campaign")</p>


<p><b>Live Advertising: scroll over to see summary, click to edit</b></p>
<table>
@foreach (SemplestModel.ProductGroup pg in Model.ProductGroups)
{
    foreach (SemplestModel.Promotion p in pg.Promotions)
    {
        if (p.IsLaunched && !p.IsCompleted)
        {
                        <tr><td>@Html.ActionLink(p.PromotionName, "../Campaign/CampaignSetup", new { promotionid = p.PromotionPK })</td>
            @if (p.IsPaused)
            {<td>@Html.ActionLink("Restart", "")</td>}
            else
            {<td>@Html.ActionLink("Pause", "")</td>}
            </tr>    
            

        }
    }
}
</table>
<p><b>Unfinished Advertising</b></p>
<table>
@foreach (SemplestModel.ProductGroup pg in Model.ProductGroups)
{
    foreach (SemplestModel.Promotion p in pg.Promotions)
    {
        if (!p.IsLaunched)
        {
            <tr><td>@Html.ActionLink(p.PromotionName, "../Campaign/CampaignSetup", new { promotionid = p.PromotionPK })</td>
            <td>@Html.ActionLink("Delete", "")</td></tr>
        }
    }
}
</table>
<p>Reporting Snap Shot </p>
<img src="../Content/report.png", alt="report" width="683" height="87" />

<p>@Html.ActionLink("Account Information", "ChildProfile", "Account") </p>
 


<div style="display:none;">
<form name="hiddenButton" id="hiddenButton" action="AddProductGroupName" method="post">

Add a new product group name:

@Html.TextBox("newproductgroupname")

<br /><input type="button" id="btnAdd"  value="Add" class="k-button"/><input type="button" id="btnCancel"  value="Cancel" class="k-button"/></form>
</div>

<script language="javascript" >    $(document).ready(function () {

        $(".addnewproductgroupname").click(function (event) {
            $.blockUI(({ message: $('#hiddenButton') }));
            event.preventDefault();
        });

        $("#btnAdd").click(function (event) {
            $("#hiddenButton").submit();
        });

        $("#btnCancel").click(function (event) {
            $.unblockUI();
        });

    });
</script>
<input type="hidden" id="SideBarUrl" value='@System.Configuration.ConfigurationManager.AppSettings["SideBarUrl"]'/>