@model Semplest.Core.Models.HomeModelChild
@section Title{
    My Account (@ViewBag.Title)
}
<table>
    <tr>
        <td style="width: 300px;">
            <fieldset style="padding: 0; border-width: 1px; width: 250px">
                <legend><b>Account Actions</b></legend>
               <div style="padding: 5px">
               <button class="k-button" id="btnCreatAd">
                   <span class="k-icon k-add"></span>Create Advertising</button>
                   </div>
            </fieldset>
            <br />
            <h3 style="margin-bottom: 0px;">
                Live Advertising
            </h3>
            <label style="color:grey;width: 270px; text-align:left;margin-top:-3px">
                scroll over to see summary, click to edit
            </label>
            <div style="width: 320px; height: 150px; overflow: auto">
                <table class="gradient-style" style="width: 300px;">
                    @foreach (SemplestModel.ProductGroup pg in Model.ProductGroups)
                    {
                        foreach (SemplestModel.Promotion p in pg.Promotions)
                        {
                            if (p.IsLaunched && !p.IsCompleted && !p.IsDeleted)
                            {
                        <tr>
                            <td style="width: 150px;">
                                @Html.ActionLink(p.PromotionName, "CampaignSetup", "Campaign", new { promotionid = p.PromotionPK }, new { @id = p.PromotionPK, @rel = "/Campaign/Preview?promotionid=" + p.PromotionPK, @class = "preview", @title = "Preview" })
                            </td>
                            @if (p.IsPaused)
                            {
                                <td>@Html.ActionLink("Restart", "", "", new { @class = "resumead", id = p.PromotionPK, name = p.PromotionName })
                                </td>
                            }
                            else
                            {
                                <td>@Html.ActionLink("Pause", "", "", new { @class = "pausead", id = p.PromotionPK, name = p.PromotionName })
                                </td>
                            }
                            <td>@Html.ActionLink("Resume", "", "", new { @class = "pausead", id = p.PromotionPK, name = p.PromotionName })
                            </td>
                            <td>@Html.ActionLink("Stop", "", "", new { @class = "pausead", id = p.PromotionPK, name = p.PromotionName })
                                </td>
                        </tr>    
                            }
                        }
                    }
                </table>
            </div>
            <br />
            <h3 style="margin-bottom: 0px;">
                Unfinished Advertising</h3>
                 <label style="color:grey;width: 270px; text-align:left;margin-top:-3px">
                scroll over to see summary, click to edit
            </label>
            <div style="width: 320px; height: 300px; overflow: auto">
                <table class="gradient-style" style="width: 300px">
                    @foreach (SemplestModel.ProductGroup pg in Model.ProductGroups)
                    {
                        foreach (SemplestModel.Promotion p in pg.Promotions)
                        {
                            if (!p.IsLaunched && !p.IsDeleted)
                            {
                        <tr>
                            <td style="width: 150px;">
                                @Html.ActionLink(p.PromotionName, "CampaignSetup", "Campaign", new { promotionid = p.PromotionPK }, new { @id = p.PromotionPK, @rel = "/Campaign/Preview?promotionid=" + p.PromotionPK, @class = "preview", @title = "Preview" })
                            </td>
                            <td>@Html.ActionLink("Delete", "", "", new { @class = "deletead", id = p.PromotionPK, name = p.PromotionName })
                            </td>
                        </tr>
                            }
                        }
                    }
                </table>
            </div>
            <div style="display: none;">
                <form name="hiddenButton" id="hiddenButton" action="RemovePromotion" method="post">
                <div class="question">
                </div>
                <input type="button" id="btnAdd" value="OK" class="k-button" />
                <input type="button" id="btnCancel" value="Cancel" class="k-button" />
                <input type="hidden" id="promotionId" name="promotionId" />
                </form>
            </div>
            <div style="display: none;">
                <form name="hiddenPause" id="hiddenPause" action="PausePromotion" method="post">
                <div class="questionP">
                </div>
                <input type="button" id="btnOkP" value="OK" class="k-button" />
                <input type="button" id="btnCancelP" value="Cancel" class="k-button" />
                <input type="hidden" id="promotionIdP" name="promotionIdP" />
                </form>
            </div>
            <div style="display: none;">
                <form name="hiddenResume" id="hiddenResume" action="ResumePromotion" method="post">
                <div class="questionR">
                </div>
                <input type="button" id="btnOkR" value="OK" class="k-button" />
                <input type="button" id="btnCancelR" value="Cancel" class="k-button" />
                <input type="hidden" id="promotionIdR" name="promotionIdR" />
                </form>
            </div>
            <script type="text/javascript">
                $('#loading').hide();
                $(document).ready(function () {
                    $('#loading').hide();
                    $(".deletead").click(function (event) {
                        $('#promotionId').val(event.target.id);
                        $('.question').html("Are you sure you want to delete " + event.target.name + "?");
                        $.blockUI(({ message: $('#hiddenButton') }));
                        event.preventDefault();
                    });

                    $('#btnCreatAd').click(function () {
                        location.href = '../Campaign/CampaignSetup';
                    });


                    $("#btnAdd").click(function (event) {
                        $("#hiddenButton").submit();
                    });

                    $("#btnCancel").click(function (event) {
                        $.unblockUI();
                    });

                    $(".pausead").click(function (event) {
                        $('#promotionIdP').val(event.target.id);
                        $('.questionP').html("Are you sure you want to pause " + event.target.name + "?");
                        $.blockUI(({ message: $('#hiddenPause') }));
                        event.preventDefault();
                    });

                    $("#btnOkP").click(function (event) {
                        $("#hiddenPause").submit();
                    });

                    $("#btnCancelP").click(function (event) {
                        $.unblockUI();
                    });



                    $(".resumead").click(function (event) {
                        $('#promotionIdR').val(event.target.id);
                        $('.questionR').html("Are you sure you want to resume " + event.target.name + "?");
                        $.blockUI(({ message: $('#hiddenResume') }));
                        event.preventDefault();
                    });

                    $("#btnOkR").click(function (event) {
                        $("#hiddenResume").submit();
                    });

                    $("#btnCancelR").click(function (event) {
                        $.unblockUI();
                    });
                    $('.preview').mouseover(function (e) {
                        $('#loading').show();
                        $('#preview').hide();
                        //$.blockUI({ message: '<h1><img src="@Url.Content("~/Content/Metro/loading.gif")" /> Just a moment...</h1>'});
                        $('#preview').load('@Url.Action("Preview", "Campaign")', { promotionId: e.currentTarget.id }, function (response, status, xhr) {
                            $('#preview').show();
                            if (status == "error") {
                                var msg = "Sorry but there was an error: ";
                                $("#error").html(msg + xhr.status + " " + xhr.statusText);
                                $('#loading').hide();
                            }
                            //$.unblockUI();
                        });
                    });
                });
            </script>
            <input type="hidden" id="SideBarUrl" value='@System.Configuration.ConfigurationManager.AppSettings["SideBarUrl"]'/>
        </td>
        <td style="vertical-align: top; height:100%;width:500px;">
            <div id='loading'>
                <h3 style="margin-left: 22px">
                    Loading Preview...</h3>
            </div>
            <div id="preview" style="vertical-align: top;height:100%;width: 460px; overflow: auto"/>
        </td>
    </tr>
</table>