@*<a href="/" class="k-button">Home</a> <a href="/EmployeeSetup/Edit" class="k-button">
    Account Service</a> <a href="/ClientAccount" class="k-button">User Setup</a>
<a href="/Billing/Finance" class="k-button">Billing/Finance</a> <a href="/Configuration"
    class="k-button">Configure</a>*@

    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "k-button" })
@*    @Html.ActionLink("Account Service", "Edit", "EmployeeSetup")
*@    
@*    @Html.ActionLink("User Setup", "Index", "ClientAccount")
*@  


    @Html.ActionLink("Employees", "Index", "EmployeeSetup", null, new { @class = "k-button" })
    @Html.ActionLink("Account Serice", "Index", "CustomerAccount", null, new { @class = "k-button" })
  
    @Html.ActionLink("Configure", "Index", "Configuration", null, new { @class = "k-button" })

