@model Semplest.Admin.Models.CustomerAccountWithEmployeeModel
@section NavBar {
    <script src="@Url.Content("~/Scripts/PanelBar.js")" type="text/javascript"></script>
}
@{
    ViewBag.Title = "Delete";
}

@section Title{
Delete Customer:
}


@using (Html.BeginForm("Delete"))
{
    @Html.HiddenFor(model => model.CustomerAccount.UserPK)
    @Html.HiddenFor(model => model.CustomerAccount.AccountNumber )
    @Html.HiddenFor(model => model.CustomerAccount.Customer)

    <h2>Delete Customer Account #@Html.DisplayFor(Model => Model.CustomerAccount.AccountNumber) / (@Html.DisplayFor(Model => Model.CustomerAccount.Customer)) ?</h2>
    <br />
    <input type="submit" name="command" value="Delete" class="k-button" />
    <input type="submit" name="command" value="Cancel" class="k-button" />    
}