@using System.Globalization
@model Semplest.Core.Models.CampaignSetupModel
<div id="block_portfolio">
    <div id="portfolio_items">
        <div class="mini_portfolio_item">
            <div class="block_inside">
                <h3>
                    Preview Of @Model.ProductGroup.ProductGroupName - @Model.ProductGroup.ProductPromotionName</h3>
                <div class="table1">
                    <div class="row">
                        <div class="left1" style="width: 300px; vertical-align: top">
                            <div style="vertical-align: top">
                                <h3>
                                    Budget</h3>
                                <strong>$@Math.Round(@Model.ProductGroup.Budget, 2)</strong>
                                @if (string.IsNullOrEmpty(@Model.ProductGroup.EndDate))
                                {
                                    <p>
                                        Advertising continues monthly.</p>
                                }
                                else
                                {
                                    <p>
                                        Advertising is running @Model.ProductGroup.StartDate thru @Model.ProductGroup.EndDate</p>
                                }
                                <p>
                                    To end or edit your advertising, return to My Account
                                </p>
                                <br />
                                <h3>
                                    Search Engines</h3>
                                @if (Model.ProductGroup.AdEnginesSelectedList.Any())
                                {
                                    foreach (Semplest.Core.Models.AdEngineSelectModel aem in @Model.ProductGroup.AdEnginesSelectedList)
                                    {
                                        if (aem.Name == "Google")
                                        {
                                    <img src="@Url.Content("~/Content/Google Logo.png")" alt=""/>
                                        }
                                        else
                                        {
                                    <img src="@Url.Content("~/Content/MSN Logo.png")" alt=""/>
                                        }
                                    }
                                }
                                <br />
                                <br />
                                <h3>
                                    Where to Show Your Ad</h3>
                                @if (@Model.AdModelProp.Addresses.Any())
                                {
                                    foreach (var address in @Model.AdModelProp.Addresses)
                                    {
                                        string stateStr = String.Empty;
                                        if (address.StateCodeFK != null)
                                        {
                                            stateStr = @address.StateCodes.FirstOrDefault(t => t.StateAbbrPK == @address.StateCodeFK).StateAbbr;
                                        }
                                        if (address != null && (!String.IsNullOrEmpty(address.City) || !String.IsNullOrEmpty(address.Zip)))
                                        {
                                            if (address.ProximityRadius != null)
                                            {
                                                string proxStr = Math.Round((decimal)address.ProximityRadius, 0).ToString(CultureInfo.InvariantCulture);
                                                if (!String.IsNullOrEmpty(address.Address))
                                                {
                                    <p>
                                        <strong>@proxStr</strong> miles or less from @address.Address @address.City @stateStr
                                        @address.Zip</p>
                                                }
                                                else
                                                {
                                    <p>
                                        <strong>@proxStr</strong> miles or less from @address.City @stateStr @address.Zip</p>
                                                }
                                            }
                                            else
                                            {
                                    <p>@address.Address @address.City @stateStr @address.Zip</p>
                                            }
                                        }
                                        else
                                        {
                                    <p>
                                        United States</p>
                                        }
                                    }
                                }
                                else
                                {
                                    <p>
                                        United States</p>
                                }
                            </div>
                        </div>
                        <div class="right1" style="width: 300px; overflow: hidden">
                            @{
                                var idx = 0;
                                foreach (var ad in @Model.AdModelProp.Ads)
                                {
                                    idx += 1;
                                <h3 style="padding: 5px 0; font-weight: normal; border-bottom: 1px solid #999; width: 50%;">
                                    Ad #@idx.ToString() Preview
                                </h3>
                                <ul style="width: 100%; float: left; margin: 0;">
                                    <li style="list-style: none; padding: 5px 0;"><a target="__blank" style="font-weight: bold;
                                        color: Blue; text-decoration: underline">@ad.AdTitle</a></li>
                                    <li style="list-style: none; padding: 5px 0;"><a style="color: green;" target="__blank">@Model.AdModelProp.DisplayUrl</a></li>
                                    <li style="list-style: none; padding: 5px 0;">@ad.AdTextLine1</li>
                                    <li style="list-style: none; padding: 5px 0;">@ad.AdTextLine2</li>
                                </ul>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    /* 
    Block-Styles 
*/
    #text_column
    {
        float: right;
        width: 310px;
    }
    .block_inside
    {
        display: block;
        border: 1px solid #ffffff;
        background: #ffffff;
        padding: 5px;
        overflow: auto;
    }
    
    
    #block_portfolio
    {
        overflow: auto;
        margin-bottom: 20px;
    }
    #portfolio_items
    {
        width: 98%;
        float: left;
        padding-top: 3px;
        margin-left: 10px;
    }
    .mini_portfolio_item
    {
        border: 1px solid #a3a09e;
        margin-bottom: 10px;
        position: relative;
    }
    .mini_portfolio_item .thumbnail
    {
        float: left;
        margin-right: 20px;
        border: 1px solid #979390;
    }
    .table1
    {
        display: table;
        width: 100%;
    }
    .row
    {
        display: table-row;
    }
    
    .left1, .right1
    {
        display: table-cell;
        width: 300px;
    }
</style>

