@model  Semplest.SharedResources.Models.ProfileModel
<li >
    @Html.LabelFor(t => t.Password2, new { @class = "required" })
    @Html.PasswordFor(m => m.Password2, new { @class = "k-textbox" })
    @Html.ValidationMessageFor(m => m.Password2)
</li>
<li >
    @Html.LabelFor(t => t.Password3, new { @class = "required" })
    @Html.PasswordFor(m => m.Password3, new { @class = "k-textbox" })
    @Html.ValidationMessageFor(m => m.Password3)
</li>
<li >
    @Html.LabelFor(t => t.SecurityQuestion, new { @class = "required" })
    @Html.TextBoxFor(m => m.SecurityQuestion, new { @class = "k-textbox" })
    @Html.ValidationMessageFor(m => m.SecurityQuestion)
</li>
<li >
    @Html.LabelFor(t => t.SecurityAnswer, new { @class = "required" })
    @Html.TextBoxFor(m => m.SecurityAnswer, new { @class = "k-textbox" })
    @Html.ValidationMessageFor(m => m.SecurityAnswer)
</li>
<li class="accept">
<button class="k-button" id="get">Create Account</button>    
</li>

