@model  Semplest.SharedResources.Models.ProfileModel

           <div class="editor-label">
                @Html.LabelFor(m => m.Password2)
            </div>
                        <div class="editor-field">
                @Html.TextBoxFor(m => m.Password2, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(m => m.Password2)
            </div>
           <div class="editor-label">
                @Html.LabelFor(m => m.Password3)
            </div>

                   <div class="editor-field">
                @Html.PasswordFor(m => m.Password3, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(m => m.Password3)
                </div>




           <div class="editor-label">
                @Html.LabelFor(m => m.SecurityQuestion)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.SecurityQuestion, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(m => m.SecurityQuestion)
            </div>

           <div class="editor-label">
                @Html.LabelFor(m => m.SecurityAnswer)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.SecurityAnswer, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(m => m.SecurityAnswer)
            </div>




        <br />
        <br />
        <button class="k-button" id="get">Create Account</button>


