@model SemplestAdminApp.Models.AccountServiceModel
@{
    ViewBag.Title = "Index";
}
@section Title{
Account Finance:
}
@section Navbar{
    <script src="@Url.Content("~/Scripts/PanelBar.js")" type="text/javascript"></script>
}
@section Links{
    @Html.Partial("TopMenu")
}
@using (Html.BeginForm("Index"))
{

<h2>@Model.Customer - Account ID @Model.AccountNumber</h2>

<br />

<h3>Contact<br />
@Model.FirstName&nbsp;@Model.LastName <br />
@Model.Address1<br />
@Model.City,@Model.State&nbsp;@Model.Zip<br />
@Model.Email<br />
</h3>

<h3>
<label>Rep Name: <input type="text" name="repname" /></label><br />
<label>Salesperson: <input type="text" name="salesperson" /></label><br />
<label>Parent: <input type="text" name="parent" /></label><br />
<label>Super Parent: <input type="text" name="superparent" /></label><br />
</h3>

<br />
<br />
    <ul style="display: block" class="kendo-nav">
    <li><a href="url">Update Account</a></li>
    <li><a href="url">Delete Account</a></li>
    <li><br /></li>
    <li><h2>Account Actions</h2></li>
    <li><a href="url">Impresonate</a></li>
    <li><a href="url">Disable</a> </li>
    <li><a href="url">Enable</a> </li>
    <li><a href="url">Pause</a> </li>
    <li><a href="url">Issue Refund</a> </li>
    <li><a href="url">Excel Import Customer Data</a> </li>
    <li><a href="url">Edit Start or End Date</a> </li>
    <li><br /></li>
    <li><h2>Reporting</h2></li>
    <li><a href="url">Customer Summary Report</a></li>
    <li><a href="url">Customer Billing Report</a></li>
    <li><a href="url">Account Detailed Audit History</a> <br /></li>
    <li></li>
    <li><h2>Billing Info</h2></li>
    <li><p>VISA ending in 8971   Expires 8/24/14</p> </li>
    <li><p>or</p></li>
    <li><a href="url">Add a new card</a> </li>
</ul>    
    
    
}




