@using Semplest.Core.Helpers
@model Semplest.Core.Models.CampaignSetupModel
<div id="adModel" class="k-header configuration1">
    <ul class="options">
        <li>
            <h3>
                Location (Enter Address,City,State or Zip)</h3>
        </li>
        <li>
            <table>
                <tr>
                    <td style="vertical-align: top">
                        <span>Business Address</span>
                    </td>
                    <td>
                        <div id="addresses">
                            @Html.EditorFor(t => t.AdModelProp.Addresses)
                        </div>
                        <div style="text-align: right">
                            @Html.LinkToAddNestedForm("Add Address", "#addresses", ".address", "AdModelProp.Addresses", typeof(SemplestModel.GeoTargeting))
                        </div>
                    </td>
                </tr>
            </table>
        </li>
        <li class="infoHead">
            <h3>
                Ad Copy</h3>
        </li>
        <li><label style="width: 45px">URL</label> 
            @Html.TextBoxFor(m => m.AdModelProp.Url, new { @class = "k-textbox", @required = true, @validationmessage = "Please enter {0}" })
            <span>This url will appears in all of your ads</span> </li>
        <li>
            <div id="ads">
                @Html.EditorFor(t => t.AdModelProp.Ads)
            </div>
        </li>
        <li><a href="#" id="additionalLinks">Click to add additional click through options</a>
        </li>
        <li><a href="#" id="negativeKeyWords">Click to identify keywords to avoid in association
            with your business</a></li>
        <li>
            @Html.LinkToAddNestedForm("Create Another Ad", "#ads", ".ads", "AdModelProp.Ads", typeof(SemplestModel.PromotionAd))</li>
        <li class="options">
            <button class="k-button" id="back1" type="button">
                <span class="k-back k-icon"></span>back</button>
            <button class="k-button" id="getCategories" type="submit" name="Command" value="GetCategories">
                <span class="k-update k-icon"></span>Save And Continue</button>
        </li>
        <li class="status"></li>
    </ul>
    <style scoped>
        .k-textboxAd
        {
            width: 145px;
        }
    </style>
</div>
