@using Semplest.Core.Helpers
@model Semplest.Core.Models.AdModel
<script src="@Url.Content("~/Scripts/Maps.js")" type="text/javascript"> </script>
<div id="adModel" class="k-header configuration1">
    <ul class="options">
        <li>
            <h3>
                Location (Enter Address,City,State or Zip)</h3>
        </li>
        <li>
            <fieldset>
                <legend>Business Address</legend>
                    <table>
                        <tr>
                            <td>
                                <div id="addresses">
                                    @Html.EditorFor(t => t.Addresses)
                                </div>
                                <div style="text-align: left;margin-left: 56px">
                                    @Html.LinkToAddNestedForm("Add Address", "#addresses", ".address", "AdModelProp.Addresses", typeof(SemplestModel.GeoTargeting),"AdModelProp")
                                </div>
                            </td>
                        </tr>
                    </table>
                
            </fieldset>
        </li>
        <li class="infoHead">
            <h3>
                Ad Copy</h3>
        </li>
        <li>
            <label style="width: 45px">
                URL</label>
            @Html.TextBoxFor(m => m.Url, new { @class = "k-textbox k-textboxAd1", @required = true, @validationmessage = "Please enter {0}" })
            <span>This url will appears in all of your ads</span> </li>
        <li>
            <div id="ads">
                @Html.EditorFor(t => t.Ads)
            </div>
        </li>
        <li><a href="#" id="negativeKeyWords">Click to identify keywords to avoid in association
            with your business</a></li>
        <li>
            @Html.LinkToAddNestedForm("Create Another Ad", "#ads", ".ads", "AdModelProp.Ads", typeof(SemplestModel.PromotionAd),"AdModelProp")</li>
        <li class="options">
            <button class="k-button" id="back1" type="button">
                <span class="k-back k-icon"></span>back</button>
            <button class="k-button" id="getCategories" type="submit" name="Command" value="GetCategories">
                <span class="k-update k-icon"></span>Save And Continue</button>
        </li>
        <li class="status"></li>
    </ul>
    <style scoped>
        .k-textboxAd
        {
            width: 145px;
        }
         .k-textboxAd1
        {
            width: 190px;
        }
    </style>
</div>
