@model Semplest.Core.Models.CampaignSetupModel
@{
    ViewBag.Title = "Campaign";
}
<link href="@Url.Content("~/Content/formStyle.css")" rel="stylesheet" type="text/css" />
@{ 
    decimal budget, semplestcharge, mediaspend, creditcardcharge;
    
    if (Model.Configuration.SemplestDefaultBudgetMarkUpOrDown == "1")
    {
        budget = Model.ProductGroup.Budget;
        semplestcharge = (Model.Configuration.CustomerDefaultPerCampaignFlatFeeAmount);
        mediaspend = (budget - semplestcharge);
        creditcardcharge = budget;
    }
    else

    {
        budget = Model.ProductGroup.Budget;
        semplestcharge = (Model.Configuration.CustomerDefaultPerCampaignFlatFeeAmount);
        mediaspend = (budget);
        creditcardcharge = semplestcharge+budget;
    }
}
<div class="configuration">
    <h3>
        Billing and Launch</h3>
    <div class="table">
        <ul>
            <li>We have selected @Html.TextBoxFor(m => m.BillingLaunch.KeywordsCount, new { @class = "k-input", @readonly = true })
                keywords to bid on! <a href="#" id="viewSelectedKeywords" style="margin-left: 50px;">
                    View selected keywords</a></li>
        </ul>
    </div>
    <div class="table">
        <ul>
            <li>
                <p>
                    SEMplest can work with any budget to provide traficc to your site. To help us better
                    serve your sales goals, please indicate your comfort level when paying Google, Bing
                    and Yahoo! For Each customer that reaches your site.</p>
            </li>
            <li>
                <select id="dropDownRange" class="k-select" name="dropDownRange" style="width: 240px;
                    margin-left: 260px;">
                    <option value="NotSpecified">Not specified</option>
                    <option value="UptoOne">$0.01 - $1.00</option>
                    <option value="OnetoThree">$1.01 - $3.00</option>
                    <option value="ThreetoFive">$3.01 - $5.00</option>
                    <option value="FivePlus">$5.01 +</option>
                </select>
                <label id="lblOptional" class="k-label">
                    (optional)</label>
                @*@Html.DropDownListFor(t =>t.BillingLaunch.Range)*@ </li>
            <li>
                <label id="lblYourCreditInvoice">
                    Your Credit Cards on file(OR Paying by Invoice)</label>
                @*          @Html.DropDownListFor(t => t.Invocie)
    *@
                <select id="dropDownCreditCard" class="k-select" name="dropDownCreditCard">
                    <option>VISA ending in 8971 Expires8/24/14</option>
                </select>
                @*<a href="#" id="enterNewRecord" style="margin-left: 30px;">Add new card</a> *@
                @Html.ActionLink("Add new card", "AddNewCard",null, new { @class = "addnewcard" })
                <a href="#"
                    id="deleteRecord" style="margin-left: 20px;">Delete card</a> </li>
        </ul>
        <ul>
            <li>
                <label id="lblsemplestCharge" class="k-label" style="margin-left: 150px;">
                    SEMplest Charge</label>
                <input type="text" class="k-input" id="Semplestcharge";" value="$@semplestcharge.ToString("n2")" readonly="readonly"/>
                <label id="lblOutput1" class="k-label">
                    "Output Field Which is a Conditional note"</label>
            </li>
        </ul>
        <ul>
            <li>
                <label id="lblbudget">
                    Budget</label>
                <label id="lbltotalMediaSpend" class="k-label" style="margin-left: 100px;">
                    Total Media Spend</label>
                <input type="text" class="k-input" id="txttotalMedia" value="$@mediaspend.ToString("n2")"  readonly="readonly" />
                <label id="Label1" class="k-label">
                    "Output Field Which is a Conditional note"</label>
            </li>
        </ul>
        <ul>
            <li>@Html.TextBoxFor(m => m.ProductGroup.Budget, new { @class = "k-input", @readonly = true, @style = "width:100px" })
                <label id="lbltotalcreditCardCharge" class="k-label" style="margin-left: 10px;">
                    Total Credit Card Charge</label><input type="text" class="k-input" id="txtCredCharge" value="$@creditcardcharge.ToString("n2")" readonly="readonly"/>
                <label id="Label2" class="k-label">
                    "Output Field Which is a Conditional note"</label>
            </li>
        </ul>
    </div>
    <div class="configuration1">
    </div>
    @*        <ul class="options">
            <li>Budget:</li>
            <li>@Html.TextBoxFor(m => m.ProductGroup.Budget, new { @class="k-input",@readonly = true, @style="width:100px" })</li>
        </ul>
*@
    <div class="options">
        <label id="lblAddProductSummary" class="k-label">
            Ad Product Summary:</label>
        <button class="k-button" id="editadproduct" type="button">
            <span class="k-back k-icon"></span>EDIT AD PRODUCT</button>
    </div>
    <div class="options">
        <br />
        <button class="k-button" id="getLaunchAdProduct" type="submit" style="margin-left: 450px"
            name="Command" value="LaunchAdProduct">
            <span class="k-update k-icon"></span>LAUNCH AD PRODUCT</button>
    </div>
</div>


	
		<div style="display:none;">
<form name="hiddenButton" id="hiddenButton" action="AddNewCard" method="post">





 <style id="aaa" scoped="scoped">
@*    .table ul
    {
        list-style: none;
        margin-left:-50px; 
    }
    *@
 
   
    
    @*////////////////////*@
    
    
         .editor-label [for=Address1]
    {
         margin-left: 10px;
          text-align:left;
    }
    

    .editor-field #Address1
    {
         margin-left: 0px;
         text-align:left;
    }
    

      @*////////////////////*@
    
    
         .editor-label [for=Address2]
    {
         margin-left: 10px;
         
          text-align:left;
    }
    

    .editor-field #Address2
    {
         margin-left: 0px;
         text-align:left;
    }

    
    @*////////////////////*@
    
    
         .editor-label [for=City]
    {
         margin-left: 10px;
          text-align:left;
    }
    

    .editor-field #City
    {
         margin-left: 0px;
         text-align:left;
    }
    
    @*////////////////////*@
    
         .editor-label [for=States]
    {
         margin-left: 10px;
          text-align:left;
    }
    

    .editor-field #States
    {
         margin-left: 0px;
         text-align:left;
         width:100px;
    }
    
    @*////////////////////*@
    
    
         .editor-label [for=Zip]
    {
         margin-left: 10px;
          text-align:left;
    }
    

    .editor-field #Zip
    {
         margin-left: 0px;
         text-align:left;
    }
    
    
    @*////////////////////*@
    
    
         .editor-label [for=FirstName]
    {
         margin-left: 10px;
          text-align:left;
    }
    

    .editor-field #FirstName
    {
         margin-left: 0px;
         text-align:left;
    }
    
    
    @*////////////////////*@
    
    
         .editor-label [for=MiddleInitial]
    {
         margin-left: 10px;
          text-align:left;
    }
    

    .editor-field #MiddleInitial
    {
         margin-left: 0px;
         text-align:left;
    }
    
    
    @*////////////////////*@
    
    
         .editor-label [for=LastName]
    {
         margin-left: 10px;
          text-align:left;
    }
    

    .editor-field #LastName
    {
         margin-left: 0px;
         text-align:left;
    }
    


       
    @*////////////////////*@
    
    
         .editor-label [for=Phone]
    {
         margin-left: 10px;
          text-align:left;
    }
    

    .editor-field #Phone
    {
         margin-left: 0px;
         text-align:left;
    }
    
    
    @*////////////////////*@
    
    
         .editor-label [for=Email]
    {
         margin-left: 10px;
          text-align:left;
    }
    

    .editor-field #Email
    {
         margin-left: 0px;
         text-align:left;
    }
    
    
    @*////////////////////*@
    
    
         .editor-label [for=UserID]
    {
         margin-left: 10px;
          text-align:left;
    }
    

    .editor-field #UserID
    {
         margin-left: 0px;
         text-align:left;
    }
    
    
</style>



  <div class="table">
        <ul class="accept">
        @{
              
                IEnumerable<SelectListItem> slct=new SelectList(new [] {"-Select One-", "Visa", "MastercCard", "Discover Card", "American Express", "Golden Coins"}, "-Select One-");
                IEnumerable<SelectListItem> slemo = new SelectList(new[] { "-Select One-", "01","02","03","04","05","06","07","08","09","10","11","12" }, "-Select One-");
                IEnumerable<SelectListItem> sleyr = new SelectList(new[] { "-Select One-", "2012", "2013", "2014", "2015", "2016",  "2017", "2018", "2019", "2020"}, "-Select One-");
                
                }

                <div class="editor-label">
                @Html.Label("CardType", "Card Type")
            </div>
            
            <div class="editor-field">
                @Html.DropDownList("CardType", slct)
            </div>

            <div class="editor-label">
                @Html.Label("CardNumber", "Card Number")
            </div>
            <div class="editor-field">
                @Html.TextBox("CardNumber",null, new { @class = "k-textbox"})
            </div>

            <div class="editor-label">
                @Html.Label("ExpirationDate", "Card Type")
            </div>
            
            <div class="editor-field">
                @Html.DropDownList("ExpirationDate", slemo)
                @Html.DropDownList("ExpirationDate", sleyr)
            </div>

            <div class="editor-label">
                @Html.Label("CVCCode", "CVC Code")
            </div>
            <div class="editor-field">
                @Html.TextBox("CVCCpde", null, new { @class = "k-textbox"})
            </div>

            <div class="editor-label">
                @Html.Label("FirstName", "First Name")
            </div>
            <div class="editor-field">
                @Html.TextBox("FirstName",null, new { @class = "k-textbox"})
            </div>

            <div class="editor-label">
                @Html.Label("LastName", "Last Name")
            </div>
            <div class="editor-field">
                @Html.TextBox("LastName",null, new { @class = "k-textbox"})
            </div>

            <div class="editor-label">
                @Html.Label("Address", "Address")
            </div>
            <div class="editor-field">
                @Html.TextBox("Address",null, new { @class = "k-textbox"})
                @Html.TextBox("Address2",null, new { @class = "k-textbox"})
            </div>


            <div class="editor-label">
                @Html.Label("City", "City/Town")
            </div>
            <div class="editor-field">
                @Html.TextBox("City",null, new { @class = "k-textbox"})
            </div>

            <div class="editor-label">
                @Html.Label("Zip", "Zip")
            </div>
            <div class="editor-field">
                @Html.TextBox("Zip",null, new { @class = "k-textbox"})
            </div>

            <div class="editor-label">
                @Html.Label("Phone", "Phone Number")
            </div>
            <div class="editor-field">
                @Html.TextBox("Phone",null, new { @class = "k-textbox"})
            </div>



            
          @*  <li><img src="@Url.Content("~/Content/cardslogo.jpg")"</li>*@

            <input type="button" id="btnAdd"  value="Add" class="k-button"/><input type="button" id="btnCancel"  value="Cancel" class="k-button"/>

            </ul>
</div>


@*@Html.TextBox("newproductgroupname")*@

</form>
</div>

<script language="javascript" >    $(document).ready(function () {

        $(".addnewcard").click(function (event) {
            $.blockUI(({ message: $('#hiddenButton') }));
            event.preventDefault();
        });

        $("#btnAdd").click(function (event) {
            $("#hiddenButton").submit();
        });

        $("#btnCancel").click(function (event) {
            $.unblockUI();
        });

    });
</script>







<script type="text/javascript">
    $('#dropDownRange').kendoDropDownList();
    $('#dropDownCreditCard').kendoDropDownList();
    
    $("#viewSelectedKeywords").click(function () {
        //alert('in viewSelectedKeywords');
        var length = tabStrip.items().length;
        var isSelectedKeywordsAdded = false;
        for (var item = 0; item < length; item++) {
            if (tabStrip.items().item(item).innerText == "View Keywords") {
                isSelectedKeywordsAdded = true;
                break;
            }
        }
        if (!isSelectedKeywordsAdded)
            tabStrip.append({
                text: "View Keywords",
                contentUrl: '@System.Configuration.ConfigurationManager.AppSettings["ViewSelectedKeywordsUrl"]'
            });
        var tab = tabStrip.tabGroup.children('li:contains("View Keywords")');
        tabStrip.select(tab);
    });

    $("#editadproduct").click(function () {
        tabChange1();
    });

    $("#getLaunchAdProduct").click(function () {
    });

    function tabChange1(parameters) {
        var tab = tabStrip.select();
        tabStrip.remove(tab);
        var reqtab = tabStrip.tabGroup.children('li:contains("DEFINE PRODUCT")');
        tabStrip.select(reqtab);
    }

</script>


