@using System.Configuration
@model Semplest.Core.Models.CampaignSetupModel
@{
    ViewBag.Title = "Campaign";
}
<link href="@Url.Content("~/Content/formStyle.css")" rel="stylesheet" type="text/css" />
@{ 
    decimal budget, semplestcharge, mediaspend, creditcardcharge;

    if (Model.Configuration.SemplestDefaultBudgetMarkUpOrDown == "1")
    {
        budget = Model.ProductGroup.Budget;
        semplestcharge = (Model.Configuration.CustomerDefaultPerCampaignFlatFeeAmount);
        mediaspend = (budget - semplestcharge);
        creditcardcharge = budget;
    }
    else
    {
        budget = Model.ProductGroup.Budget;
        semplestcharge = (Model.Configuration.CustomerDefaultPerCampaignFlatFeeAmount);
        mediaspend = (budget);
        creditcardcharge = semplestcharge + budget;
    }
}
<style>
    #tickets h3
    {
        font-weight: normal;
        font-size: 1.4em;
        display: inline-block;
        border-bottom: 1px solid #ccc;
    }
    #tickets a
    {
        color: gray;
        text-decoration: underline;
    }
    #tickets ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #tickets li
    {
        margin: 10px 0 0 0;
    }
    #tickets label
    {
        display: inline-block;
        font-weight: bold;
    }
</style>
<div id="tickets">
    <ul>
        <li>
            <label>
                We have selected</label>
            <h3 style="color: #8ebc00; font-weight: bold">
                @Model.BillingLaunch.KeywordsCount</h3>
            <label>
                keywords to bid on!
            </label>
            <a href="#" id="viewSelectedKeywords" style="margin-left: 50px;">View selected keywords</a>
        </li>
        <li>
            <label id="lblYourCreditInvoice">
                Please select payment method</label>
            <select id="dropDownCreditCard" class="k-select" name="dropDownCreditCard">
                <option>VISA ending in 8971 Expires8/24/14</option>
            </select>
            @Html.ActionLink("Add new card", "AddNewCard", null, new { @class = "addnewcard" })
            <a href="#" id="deleteRecord" style="margin-left: 20px;">Delete card</a> </li>
        <li>
            <label id="lblbudget">
                Budget</label>
            <label id="lblsemplestCharge" class="k-label" style="margin-left: 103px;">
                SEMplest Charge</label>
            <label id="lbltotalMediaSpend" class="k-label" style="margin-left: 83px;">
                Total Media Spend</label>
            <label id="lbltotalcreditCardCharge" class="k-label" style="margin-left: 73px;">
                Total Credit Card Charge</label>
        </li>
        <li>
            @Html.TextBoxFor(m => m.ProductGroup.Budget, new { @class = "k-input", @readonly = true, @style = "width:100px" })
            <input type="text" class="k-input" id="Semplestcharge" value="$@semplestcharge.ToString("n2")" readonly="readonly" style="margin-left: 50px;"/>
            <input type="text" class="k-input" id="txttotalMedia" value="$@mediaspend.ToString("n2")"  readonly="readonly"  style="margin-left: 50px;"/>
            <input type="text" class="k-input" id="txtCredCharge" value="$@creditcardcharge.ToString("n2")" readonly="readonly" style="margin-left: 50px;"/>
        </li>
        <li>
            <input type="checkbox" /><label style="margin-left: 5px;">I have read the
            </label>
            <a>Terms and Conditions</a> and agree that as long as my advertising are live,
            <br />
            <label style="margin-left: 18px;">
                I will be billed the amount above on a monthly basis</label>
        </li>
        <li>
            <div style="text-align: center">
                <button class="k-button" id="editadproduct" type="button">
                    <span class="k-back k-icon"></span>EDIT</button>
                <button class="k-button" id="getLaunchAdProduct" type="submit" name="Command" value="LaunchAdProduct">
                    <span class="k-update k-icon"></span>LAUNCH ADVERTISING</button>
            </div>
        </li>
        <li>
            <h3>
                Product / Service Summary</h3>
        </li>
    </ul>
</div>
<div style="height: 190px; overflow: auto; width: 100%; margin-top: 0px;">
    @Html.Partial("Preview", @Model)
</div>
<div style="display: none;">
    <form name="hiddenButton" id="hiddenButton" action="AddNewCard" method="post">
    <div class="table">
        <ul class="accept">
            @{
              
                IEnumerable<SelectListItem> slct = new SelectList(new[] { "-Select One-", "Visa", "MastercCard", "Discover Card", "American Express", "Golden Coins" }, "-Select One-");
                IEnumerable<SelectListItem> slemo = new SelectList(new[] { "-Select One-", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12" }, "-Select One-");
                IEnumerable<SelectListItem> sleyr = new SelectList(new[] { "-Select One-", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020" }, "-Select One-");
                
            }
            <div class="editor-label">
                @Html.Label("CardType", "Card Type")
            </div>
            <div class="editor-field">
                @Html.DropDownList("CardType", slct)
            </div>
            <div class="editor-label">
                @Html.Label("CardNumber", "Card Number")
            </div>
            <div class="editor-field">
                @Html.TextBox("CardNumber", null, new { @class = "k-textbox" })
            </div>
            <div class="editor-label">
                @Html.Label("ExpirationDate", "Card Type")
            </div>
            <div class="editor-field">
                @Html.DropDownList("ExpirationDate", slemo)
                @Html.DropDownList("ExpirationDate", sleyr)
            </div>
            <div class="editor-label">
                @Html.Label("CVCCode", "CVC Code")
            </div>
            <div class="editor-field">
                @Html.TextBox("CVCCpde", null, new { @class = "k-textbox" })
            </div>
            <div class="editor-label">
                @Html.Label("FirstName", "First Name")
            </div>
            <div class="editor-field">
                @Html.TextBox("FirstName", null, new { @class = "k-textbox" })
            </div>
            <div class="editor-label">
                @Html.Label("LastName", "Last Name")
            </div>
            <div class="editor-field">
                @Html.TextBox("LastName", null, new { @class = "k-textbox" })
            </div>
            <div class="editor-label">
                @Html.Label("Address", "Address")
            </div>
            <div class="editor-field">
                @Html.TextBox("Address", null, new { @class = "k-textbox" })
                @Html.TextBox("Address2", null, new { @class = "k-textbox" })
            </div>
            <div class="editor-label">
                @Html.Label("City", "City/Town")
            </div>
            <div class="editor-field">
                @Html.TextBox("City", null, new { @class = "k-textbox" })
            </div>
            <div class="editor-label">
                @Html.Label("Zip", "Zip")
            </div>
            <div class="editor-field">
                @Html.TextBox("Zip", null, new { @class = "k-textbox" })
            </div>
            <div class="editor-label">
                @Html.Label("Phone", "Phone Number")
            </div>
            <div class="editor-field">
                @Html.TextBox("Phone", null, new { @class = "k-textbox" })
            </div>
            @*  <li><img src="@Url.Content("~/Content/cardslogo.jpg")"</li>*@
            <input type="button" id="btnAdd" value="Add" class="k-button" /><input type="button"
                id="btnCancel" value="Cancel" class="k-button" />
        </ul>
    </div>
    @*@Html.TextBox("newproductgroupname")*@
    </form>
</div>
<script language="javascript">    $(document).ready(function () {

        $(".addnewcard").click(function (event) {
            $.blockUI(({ message: $('#hiddenButton') }));
            event.preventDefault();
        });

        $("#btnAdd").click(function (event) {
            $("#hiddenButton").submit();
        });

        $("#btnCancel").click(function (event) {
            $.unblockUI();
        });

    });
</script>
<script type="text/javascript">
    $('#dropDownRange').kendoDropDownList();
    $('#dropDownCreditCard').kendoDropDownList();

    $("#viewSelectedKeywords").click(function () {
        //alert('in viewSelectedKeywords');
        var length = tabStrip.items().length;
        var isSelectedKeywordsAdded = false;
        for (var item = 0; item < length; item++) {
            if (tabStrip.items().item(item).innerText == "View Keywords") {
                isSelectedKeywordsAdded = true;
                break;
            }
        }
        if (!isSelectedKeywordsAdded)
            tabStrip.append({
                text: "View Keywords",
                contentUrl: '@System.Configuration.ConfigurationManager.AppSettings["ViewSelectedKeywordsUrl"]'
            });
        var tab = tabStrip.tabGroup.children('li:contains("View Keywords")');
        tabStrip.select(tab);
    });

    $("#editadproduct").click(function () {
        tabChange1();
    });

    $("#getLaunchAdProduct").click(function () {
        $('#displayBox').attr('src', @ConfigurationManager.AppSettings["LogoUrl"]+'congratulations.jpg');
    });

    function tabChange1(parameters) {
        var tab = tabStrip.select();
        tabStrip.remove(tab);
        var reqtab = tabStrip.tabGroup.children('li:contains("DEFINE PRODUCT")');
        tabStrip.select(reqtab);
    }

</script>
