@model Semplest.Core.Models.CampaignSetupModel
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Campaign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .enddate
    {
        display: none;
        visibility: hidden;
    }
</style>
<link href="@Url.Content("~/Content/formStyle.css")"  rel="Stylesheet" />
@section Title{
Ad Setup
}
@section Links{
    <div id="examplesThemeChooser">
        Step 1 of 3
        <input type="button" class="k-button k-state-btnerror rounded" value="1" id="btnOne" />
        <input type="button" class="k-button rounded" value="2" id="btnTwo" />
        <input type="button" class="k-button rounded" value="3" id="btnThree" />
    </div>
}
@section Navbar{
    <div id="panelbar-images">
    </div>
    <script src="@Url.Content("~/Scripts/PanelBar.js")" type="text/javascript"> </script>
}
<script src="@Url.Content("~/Scripts/CampaignSetup.js")" type="text/javascript"> </script>
<script>
    function OnBegin() {
        //alert('Success');
        $.blockUI({ message: '<h1><img src="@Url.Content("~/Content/Metro/loading.gif")" /> Just a moment...</h1>' }); 
    }
    function OnSuccess() {
        $.unblockUI();
        //alert('Success');
        var tabStrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
        if ($("#hiddenfield").val() == "done") {
            tabStrip.append({
                text: "KeyWords",
                content: '<div id="KeyWordsdiv" />'
            },tabStrip.tabGroup.children("li:last")).select();
            $("#hiddenfield").val("done1");
        }
        if ($("#hiddenfield").val() == "") {
            tabStrip.append({
                text: "Categories",
                content: '<div id="Categoriesdiv" />'
            }, tabStrip.tabGroup.children("li:last")).select();
            tabStrip.tabGroup.children("li:last").select();
            $("#hiddenfield").val("done");
            
        }
        var item = tabStrip.tabGroup.children("li").eq(tabStrip.items().length - 1);
        tabStrip.select(item);
        tabStrip.activateTab(item);
        if ($('#Categoriesdiv').html() == '')
            $('#Categoriesdiv').load('/Campaign/Categories', function () { });
        if ($('#KeyWordsdiv').html() == '')
            $('#KeyWordsdiv').load('/Campaign/KeyWords', function () { });
    }
    function OnFailure(ajaxContext) {
        $.unblockUI();
        var response = ajaxContext.get_response();
        var statusCode = response.get_statusCode();
        alert('Failure');
        $('#example').empty();
    }
</script>
<div id="exampleWrap">
    <div id="example" class="k-content">
        @*@using (Ajax.BeginForm("CampaignSetup", "Campaign", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", UpdateTargetId = "example" }))*@
        @*@using (Html.BeginForm("CampaignSetup", "Campaign"))*@
        @using (Ajax.BeginForm("CampaignSetup", "Campaign", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnBegin = "OnBegin" }))
        {
            @Html.ValidationSummary(true, "Campaign creation was unsuccessful. Please correct the errors and try again.")
            <div id="tabstrip">
                <ul>
                    <li class="k-state-active">DEFINE PRODUCT</li>
                    <li>CREATE ADS</li>
                </ul>
                <div id="cap-view" class="k-header">
                    @Html.EditorFor(t => t.ProductGroup)
                </div>
                <div id="product-view" class="k-header">
                    @Html.Partial("AdModel", Model)
                </div>
                <input type="hidden" id="hiddenfield" name="hiddenfield" />
            </div>
        }
    </div>
</div>
