@model Semplest.Core.Models.CampaignSetupModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/conditional-validation.js")" type="text/javascript"></script>
@Html.AntiForgeryToken()
@{}
<style>
    .enddate
    {
        display: none;
        visibility: hidden;
    }
    .expand-padding
    {
        padding-right: 2px;
    }
</style>
<link href="@Url.Content("~/Content/formStyle.css")"  rel="Stylesheet" />
@section Title{
    Ad Setup (@ViewBag.Title)
}
@section headscript{
    <script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/enabledisable.js")" type="text/javascript"></script>
}
@section SectionNav{
    <div id="examplesThemeChooser">
        Step
        <button type="button" class="k-button selected" id="btnOne">
            1</button>
        <button type="button" class="k-button unselected" id="btnTwo">
            2</button>
        <button type="button" class="k-button unselected" id="btnThree">
            3</button>
    </div>
}
<div>
    <div id="example">
        @using (Ajax.BeginForm("CampaignSetup", "Campaign", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnBegin = "OnBegin", OnFailure = "OnFailure" }))
        {
            @Html.ValidationSummary(true)
            <div id="tabstrip">
                <ul>
                    <li class="k-state-active">Define Product</li>
                    <li>Create Ads</li>
                </ul>
                <div style="overflow: auto;">
                    @Html.EditorFor(t => t.ProductGroup)
                </div>
                <div style="overflow: auto;">
                    @Html.EditorFor(t => t.AdModelProp)
                </div>
            </div>
            @*<hr class="titlewhiteline" style="margin-top: -60px; margin-bottom:5px; " />
            <br style="margin-top:1px;background-color:red;"></br>*@
            <input type="hidden" id="ViewSelectedKeywordsUrl" value='@System.Configuration.ConfigurationManager.AppSettings["ViewSelectedKeywordsUrl"]'/>
            <input type="hidden" id="NegativeKeyWordsUrl" value='@System.Configuration.ConfigurationManager.AppSettings["NegativeKeyWordsUrl"]'/>
            <input type="hidden" id="AdditionalSiteLinksUrl" value='@System.Configuration.ConfigurationManager.AppSettings["AdditionalSiteLinksUrl"]'/>
            <input type="hidden" id="SideBarUrl" value='@System.Configuration.ConfigurationManager.AppSettings["SideBarUrl"]'/>
            <input type="hidden" id="LogoUrlStr" value='@System.Configuration.ConfigurationManager.AppSettings["LogoUrl"]'/>
            <input type="hidden" id="currentMode" value="@Model.ProductGroup.IsEdit"/>
            <input type="hidden" id="IsLaunched" value="@Model.IsLaunched"/>
            <input type="hidden" id="IsCompleted" value="@Model.IsCompleted"/>
            <input type="hidden" id="IsNew" value="@ViewBag.IsNew"/>
            <img id="displayBox" style="display: none" />
            <div id="InvalidDescriptionWindow" style="display: none; text-align: center; font-weight: bold;">
                <div class="InvalidDescriptionText">
                </div>
                <br />
                <div style="text-align: center">
                    <input type="button" id="btnCancelInvalid" value="OK" class="k-button" />
                </div>
            </div>
            
        }
    </div>
</div>
<script type="text/javascript">
    if ($('#currentMode').val() == "True") {
        $("#btnOne").removeClass('unselected');
        $("#btnTwo").removeClass('unselected');
        $("#btnThree").removeClass('unselected');
        $("#btnOne").addClass('selected');
        $("#btnTwo").addClass('selected');
        $("#btnThree").addClass('selected');
    }
    $(document).ready(function() {
        if ($('#IsNew').val() == 'False') {
            if ($('#IsCompleted').val() == 'True' || $('#IsLaunched').val() == 'True') {
                openAllTabs(false);
                enableDisable();
            } else if ($('#IsLaunched').val() == 'False') {
                openAllTabs(true);
            }
        }
    });
        //        enableDisable();
        //        $("#tabstrip").children('.k-content').height(650);
    var onActivate = function () {
        //        var height = $(window).height();
        //        $("#tabstrip").children('.k-content').height(height - 225);
        //        //        $("#tabstrip").children('.k-content').height($("#tabstrip").outerHeight() - $('ul.k-tabstrip-items').outerHeight());
        switch (tabStrip.select().text()) {
            case "Create Ads":

                for (var map in mapArray) {
                    L.Util.requestAnimFrame(mapArray[map].invalidateSize, mapArray[map], !1, mapArray[map]._container);
                }
                if ($('#currentMode').val() != "True") {
                    $("#btnOne").addClass('selected');
                    $("#btnTwo").removeClass('selected');
                    $("#btnThree").removeClass('selected');
                    $("#btnTwo").addClass('unselected');
                    $("#btnThree").addClass('unselected');
                }
                break;
            case "Define Product":
            case 'Additional Click Through Links("SiteLinks")':
            case "Negative Keywords":
                if ($('#currentMode').val() != "True") {
                    $("#btnOne").addClass('selected');
                    $("#btnTwo").removeClass('selected');
                    $("#btnThree").removeClass('selected');
                    $("#btnTwo").addClass('unselected');
                    $("#btnThree").addClass('unselected');
                }
                break;
            case "Categories":
                if ($('#currentMode').val() != "True") {
                    $("#btnOne").addClass('selected');
                    $("#btnTwo").addClass('selected');
                    $("#btnTwo").removeClass('unselected');
                    $("#btnThree").removeClass('selected');
                    $("#btnThree").addClass('unselected');
                }
                break;
            case "BillingLaunch":
            case "View Keywords":
                if ($('#currentMode').val() != "True") {
                    $("#btnOne").removeClass('unselected');
                    $("#btnTwo").removeClass('unselected');
                    $("#btnThree").removeClass('unselected');
                    $("#btnOne").addClass('selected');
                    $("#btnTwo").addClass('selected');
                    $("#btnThree").addClass('selected');
                }
                break;
        }
    };

    //Generate Tab
    var tabStrip = $("#tabstrip").kendoTabStrip({ activate: onActivate

    }).data("kendoTabStrip");

    // Start Enable tabs region
    var tab = tabStrip.select();
    tabStrip.enable(tab.next(), tab.next().hasClass("k-state-disabled"));
    function OnBegin() {
        var urlStr = $('#LogoUrlStr').val() + 'congratulations.jpg';
        if (urlStr == $('#displayBox').attr('src')) {
            $.blockUI({ message: '<div><img src ="' + urlStr + '" /><div style="text-align:center"><button class="k-button" id="btnCongrats">Ok</button></div></div>', css: {
                top: ($(window).height() - $('#displayBox')[0].naturalHeight) / 2 + 'px',
                left: ($(window).width() - $('#displayBox')[0].naturalWidth) / 2 + 'px',
                width: $('#displayBox')[0].naturalWidth + 'px',
                border: '0px solid #aaa'
            }
            });
        }
        else
            if ($.browser.version > "8.0") {
                $.blockUI({
                    message: $('#displayBox'),
                    css: {
                        top: ($(window).height() - $('#displayBox')[0].naturalHeight) / 2 + 'px',
                        left: ($(window).width() - $('#displayBox')[0].naturalWidth) / 2 + 'px',
                        width: $('#displayBox')[0].naturalWidth + 'px',
                        border: '0px solid #aaa'
                    }
                });
            } else {
                $.blockUI({
                    message: $('#displayBox'),
                    css: {
                        top: ($(window).height() - $('#displayBox')[0].clientHeight) / 2 + 'px',
                        left: ($(window).width() - $('#displayBox')[0].clientWidth) / 2 + 'px',
                        width: $('#displayBox')[0].clientWidth + 'px',
                        border: '0px solid #aaa'
                    }
                });
            }
    }

    $('#btnCongrats').live("click", function () {
        $.unblockUI();
    });
    function OnSuccess(id) {
        if ($('#displayBox').attr('src') != $('#LogoUrlStr').val() + 'congratulations.jpg')
            $.unblockUI();
        var tab;
        //alert(id);
        if (id == "Categories") {
            if (!tabStrip.tabGroup.children('li:contains("' + id + '")').text()) {
                tabStrip.append({
                    text: "Categories",
                    contentUrl: '@Url.Action("Categories")'
                }, tabStrip.tabGroup.children("li:last")).select();
                tab = tabStrip.tabGroup.children('li:contains("' + id + '")');
                tabStrip.select(tab);
            } else {
                tab = tabStrip.tabGroup.children('li:contains("' + id + '")');
                tabStrip.select(tab);
            }
        }
        else if (id == "BillingLaunch") {
            if (!tabStrip.tabGroup.children('li:contains("' + id + '")').text()) {
                tabStrip.append({
                    text: "BillingLaunch",
                    contentUrl: '@Url.Action("BillingLaunch")'
                }, tabStrip.tabGroup.children("li:last")).select();
                tab = tabStrip.tabGroup.children('li:contains("' + id + '")');
                tabStrip.select(tab);
            } else {
                tab = tabStrip.tabGroup.children('li:contains("' + id + '")');
                tabStrip.select(tab);
            }
        }
        else if (id == "AdditionalLinks" || id == "NegativeKeywords" || id == "Keywords") {
            //alert('addlinks_negkeywords');
            tab = tabStrip.select();
            var otherTab = tab.prev();
            tabStrip.remove(tab);
            tabStrip.select(otherTab);
        }
        else {
            if (id.name == "Keywords") {
                //alert('in id.name');
                $('#KeywordCount').html(id.count);
                tab = tabStrip.select();
                var otherTab1 = tab.prev();
                tabStrip.remove(tab);
                tabStrip.select(otherTab1);
                //test(id);
            }
            if (id != "" && id.name != "Keywords") {
                var arr = id.split('<~>');
                var stitle, sbody;
                if (arr.length > 1) {
                    sbody = arr[1];
                    stitle = arr[0];
                }
                else {
                    sbody = arr[0];
                    stitle = "Error";
                }
                $('.InvalidDescriptionText').html(sbody);
                var pausePromotionWindow = $('#InvalidDescriptionWindow').kendoWindow({
                    resizable: false,
                    modal: true,
                    title: stitle
                }).data("kendoWindow");
                $('#InvalidDescriptionWindow').show();
                pausePromotionWindow.center();
                pausePromotionWindow.open();
                event.preventDefault();
            }
        }
        //$("#tabstrip").children('.k-content').height(650);
    }

    $("#btnCancelInvalid").click(function (event) {
        var pausePromotionWindow = $('#InvalidDescriptionWindow').data("kendoWindow");
        $('#InvalidDescriptionWindow').hide();
        pausePromotionWindow.close();
    });
    function OnFailure() {
        $.unblockUI();
    }
</script>
<script src="@Url.Content("~/Scripts/CampaignSetup.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/AdditionalLinks.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/QuestionMarkHelp.js")" type="text/javascript"> </script>