@model Semplest.Core.Models.CampaignSetupModel
<div id="block_portfolio">
    <div id="portfolio_items">
        <div class="mini_portfolio_item">
            <div class="block_inside">
                <div class="table">
                    <div class="row">
                        <div class="left">
                            <h3>
                                Budget</h3>
                            <p>
                                $@Model.ProductGroup.Budget</p>
                            @if (string.IsNullOrEmpty(@Model.ProductGroup.EndDate))
                            {
                                <p>
                                    Advertising continues monthly.</p>
                            }
                            else
                            {
                                <p>
                                    Advertising is running @Model.ProductGroup.StartDate thru @Model.ProductGroup.EndDate</p>
                            }
                            <p>
                                To end or edit your advertising, return to My Account
                            </p>
                            <br />
                            <h3>
                                Search Engines</h3>
                            Google MSN/Yahoo
                            <br />
                            <h3>
                                Where to Show Your Ad</h3>
                            @foreach (var address in @Model.AdModelProp.Addresses)
                            {
                                <p>@address.Address @address.City @address.StateCodes.FirstOrDefault(t => t.StateAbbrPK == @address.StateCodeFK).StateAbbr
                                    @address.Zip @address.ProximityRadius
                                </p>
                            }
                        </div>
                        <div class="right">
                            <div class="product-view">
                                @{
                                    foreach (var ad in @Model.AdModelProp.Ads)
                                    {   
                                    <h3 style="padding: 5px 0; font-weight: normal; border-bottom: 1px solid #999; width: 225px;">
                                        Ad 1# Preview
                                    </h3>
                                    <ul style="width: 100%; float: left; margin: 0; padding: 10px 0 30px 0;">
                                        <li style="list-style: none; padding: 5px 0;"><a target="__blank">@ad.AdTitle</a></li>
                                        <li style="list-style: none; padding: 5px 0;">@ad.AdTextLine1</li>
                                        <li style="list-style: none; padding: 5px 0;">@ad.AdTextLine2</li>
                                        <li style="list-style: none; padding: 5px 0;"><a style="color: green;" target="__blank">@ad.AdTitle</a></li>
                                    </ul>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    /* 
	Block-Styles 
*/
    #text_column
    {
        float: right;
        width: 310px;
    }
    .block_inside
    {
        display: block;
        border: 1px solid #ffffff;
        background: #ffffff url(images/background_block_slice.jpg) repeat-x;
        padding: 30px;
        overflow: auto;
    }
    
    #block_portfolio
    {
        overflow: auto;
        margin-bottom: 20px;
    }
    #portfolio_items
    {
        width: 530px;
        float: left;
        padding-top: 3px;
        margin-left:10px;
    }
    .mini_portfolio_item
    {
        border: 1px solid #a3a09e;
        margin-bottom: 10px;
        position: relative;
    }
    .mini_portfolio_item .block_inside
    {
        padding: 25px 30px 15px 30px;
    }
    .mini_portfolio_item .thumbnail
    {
        float: left;
        margin-right: 20px;
        border: 1px solid #979390;
    }
    .table
    {
        display: table;
    }
    
    .row
    {
        display: table-row;
    }
    
    .left, .right
    {
        display: table-cell;
    }
</style>
