@model SemplestWebApp.Models.BillType

@{
    ViewBag.Title = "Create";
}

@section Navbar{
    <div id="panelbar-images">
    </div>
    <script>
        $("#panelbar-images").kendoPanelBar({
            dataSource: [
                        {
                            text: "Home",
                            items: [
                                { text: "My Account" },
                                { text: "Reporting" },
                                { text: "Billing" }
                            ]
                        },
                        {
                            text: "Product Groups",
                            items: [
                                { text: "Insurance", items: [{ text: "Health Insurance" }, { text: "Car Insurance"}] },
                                { text: "Safty Tips", items: [{ text: "Auto Mobile"}] },
                                { text: "Agents", items: [{ text: "Best Agents"}] }
                            ]
                        }
                    ]
        });


    </script>
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>BillType</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.BillTypePK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BillTypePK)
            @Html.ValidationMessageFor(model => model.BillTypePK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BillType1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BillType1)
            @Html.ValidationMessageFor(model => model.BillType1)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "BillType")
</div>
