@model Semplest.Admin.Models.AccountServiceWithEmployeeModel
           
           
@{
    ViewBag.Title = "Index";
}
@section Title{
Account Service
}
@section Navbar{
    <script src="@Url.Content("~/Scripts/PanelBar.js")" type="text/javascript"></script>
}
@section Links{
    @Html.Partial("TopMenu")
}
@using (Html.BeginForm("Index"))
{

<h2>@Model.AccountServiceModel.Customer - Account ID @Model.AccountServiceModel.AccountNumber</h2>

<br />

<h3>Contact<br />

@Model.AccountServiceModel.FirstName&nbsp;@Model.AccountServiceModel.LastName <br />
@Model.AccountServiceModel.Address1<br />
@Model.AccountServiceModel.City,@Model.AccountServiceModel.State&nbsp;@Model.AccountServiceModel.Zip<br />
@Model.AccountServiceModel.Email<br />
</h3>

<h3>
<label>Rep Name: <input type="text" name="repname" disabled="true"  value="@Model.EmployeeCustomerAssociaitionModel.FirstOrDefault(o=>o.EmployeeType=="Rep").FirstName @Model.EmployeeCustomerAssociaitionModel.FirstOrDefault(o=>o.EmployeeType=="Rep").LastName"/></label><br />
<label>Salesperson: <input type="text" name="salesperson" disabled="true" value="@Model.EmployeeCustomerAssociaitionModel.FirstOrDefault(o => o.EmployeeType == "Sales").FirstName @Model.EmployeeCustomerAssociaitionModel.FirstOrDefault(o => o.EmployeeType == "Sales").LastName" /></label><br />
<label>Parent: <input type="text" name="parent" disabled="true" value="@Model.ParentName.ToString()"/></label><br />
@*<label>Super Parent: <input type="text" name="superparent" disabled="true"/></label><br />*@
</h3>

<br />
<br />
    <ul style="display: block" class="kendo-nav">
    <li>@Html.RouteLink("Update Account", new { Controller = "CustomerAccount", action = "Edit", id = Model.AccountServiceModel.AccountNumber})</li>
    <li>@Html.RouteLink("Delete Delete", new { Controller = "CustomerAccount", action = "Delete", id = Model.AccountServiceModel.AccountNumber})</li>
    <li><br /></li>
    <li><h2>Account Actions</h2></li>
    <li><a href="#">Impresonate</a></li>
    <li><a href="#">Disable</a> </li>
    <li><a href="#">Enable</a> </li>
    <li><a href="#">Pause</a> </li>
    <li><a href="#">Issue Refund</a> </li>
    <li><a href="#">Excel Import Customer Data</a> </li>
    @*<li><a href="url">Edit Start or End Date</a> </li>*@
    <li><br /></li>
    <li><h2>Reporting</h2></li>
    <li><a href="#">Customer Summary Report</a></li>
    <li><a href="#">Customer Billing Report</a></li>
    <li><a href="#">Account Detailed Audit History</a> <br /></li>
    <li></li>
    <li><h2>Billing Info</h2></li>
    <li><p>VISA ending in 8971   Expires 8/24/14</p> </li>
    <li><p>or</p></li>
    <li><a href="#">Add a new card</a> </li>
</ul>    
    
    
}




