@model Semplest.SharedResources.Models.ProfileModel
@{
    ViewBag.Title = "LogOn";
}
@using (Html.BeginForm())
{
    <div id="tickets">
        <h3>
            Log In</h3>
        <ul>
            <li>
                @Html.LabelFor(t => t.UserName, new { @class = "required" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(t => t.Password1, new { @class = "required" })
                @Html.PasswordFor(m => m.Password1, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(m => m.Password1) 
            </li>
            <li class="accept">
                @Html.HiddenFor(m => m.IsRegistered)
                @if (Model != null)
                {@Html.Hidden("LoggedInSucceeded", Model.LoggedInSucceeded)}</li>
            <li class="accept">
                <button class="k-button" type="submit" id="btnSubmit">
                    Log On</button>
            </li>
              
            @if (Model != null)
            {
                if (!Model.LoggedInSucceeded)
                {          
                <li class="status">
                    @Model.LoginFailedMessage
                </li>
                }
                else if (!Model.IsRegistered)
                {
                    @Html.Partial("_Password", Model)
                }
            }
        </ul>
    </div>
}
<style scoped>
    .k-textbox
    {
        width: 11.8em;
    }
    
    #tickets
    {
        width: 510px;
        height: 323px;
        padding: 10px 20px 20px 170px;
    }
    
    #tickets h3
    {
        font-weight: normal;
        font-size: 1.4em;
        border-bottom: 1px solid #ccc;
    }
    
    #tickets ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #tickets li
    {
        margin: 10px 0 0 0;
    }
    
    label
    {
        display: inline-block;
        width: 140px;
        text-align: right;
    }
    
    .required
    {
        font-weight: bold;
    }
    
    .accept, .status
    {
        padding-left: 140px;
    }
    
    .valid
    {
        color: green;
    }
    
    .invalid
    {
        color: red;
    }
    span.k-tooltip
    {
        margin-left: 6px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("input[id$='btnSubmit']").click(function () {
            $.ajax({
                type: "GET",
                url: "/Profile/Verify",
                data: { userName: $('#UserName').val(), password: $('#Password1').val() },
                success: function (data) { $('.passwordverify').html(data); }
            });
        });
    })
</script>
