@model Semplest.SharedResources.Models.ProfileModel
@{
    ViewBag.Title = "LogOn";
}

<h2>Log In</h2>

@using (Html.BeginForm())
{
    
         <fieldset>
             <legend>Account Information</legend>
            <div id="options" align="center" >
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
                @Html.HiddenFor(m => m.IsRegistered)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Password1)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password1, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(m => m.Password1)
            </div>
            <p>
                <input type="submit" value="Log On" class ="k-button" id="btnSubmit" />
            </p>
            @if (Model != null && Model.IsRegistered != null && !Model.IsRegistered)
            {
                <div class="passwordverify">@Html.Partial("_Password", Model)</div>
            }
            </div>
        </fieldset>
        
}

<script type="text/javascript">
    $(document).ready(function () {
        $("input[id$='btnSubmit1']").click(function () {
            $.ajax({
                type: "GET",
                url: "/Profile/Verify",
                data: { userName: $('#UserName').val(), password: $('#Password1').val() },
                success: function (data) { $('.passwordverify').html(data); }
            });
        });
    })
</script>