@model Semplest.Core.Models.ReportIndexModel
@{
    ViewBag.Title = "Index";
}
@section Title{
    Reporting
}

Please select a product group for which you would like to view reports.  Selecting more than one product group will provide you a report with combined data.
<ul>
@foreach (SemplestModel.ProductGroup p in Model.ProductGroups)
{
    <li>@p.ProductGroupName</li>
    foreach (SemplestModel.Promotion ps in p.Promotions)
    {
        @Html.CheckBox("ps.PromotionPK")
        @ps.PromotionName<br />
    }
}
    
</ul>

Please select a search engine for which you would like to view reports.  Selecting more than one engine will provide you a report with combined data.
   <table>
   
  @foreach (SemplestModel.AdvertisingEngine item in Model.AdvertisingEngines)
  {
      <tr >
        <td>@Html.CheckBox("ps.PromotionPK")</td>
        <td>@item.AdvertisingEngine1</td>
        </tr>
  }
  </table>

  <input type="button" id="btnOne" value="Get Report" class="k-button" />
  <input type="hidden" id="SideBarUrl" value='@System.Configuration.ConfigurationManager.AppSettings["SideBarUrl"]'/>