@model Semplest.Core.Models.ReportIndexModel
@{
    ViewBag.Title = "Index";
}
@section Title{
    Reporting
}
@section Links{
    <div >
        <input type="button" class="k-button k-state-btnerror rounded" value="My Account" id="btnMyAccount" />
        <input type="button" class="k-button rounded" value="Ad Setup" id="btnAdSetup" />
        <input type="button" class="k-button rounded" value="Reporting" id="btnReporting" />
        <input type="button" class="k-button rounded" value="Billing" id="btnBilling" />
    </div>
}
@section Navbar{
    <div id="panelbar-images">
    </div>
    <script src="@Url.Content("~/Scripts/PanelBar.js")" type="text/javascript"> </script>
}

Please select a product group for which you would like to view reports.  Selecting more than one product group will provide you a report with combined data.
<ul>
@foreach (SemplestModel.ProductGroup p in Model.ProductGroups)
{
    <li>@p.ProductGroupName</li>
    foreach (SemplestModel.Promotion ps in p.Promotions)
    {
        @Html.CheckBox("ps.PromotionPK")
        @ps.PromotionName<br />
    }
}
    
</ul>

Please select a search engine for which you would like to view reports.  Selecting more than one engine will provide you a report with combined data.
   <table>
   
  @foreach (SemplestModel.AdvertisingEngine item in Model.AdvertisingEngines)
  {
      <tr >
        <td>@Html.CheckBox("ps.PromotionPK")</td>
        <td>@item.AdvertisingEngine1</td>
        </tr>
  }
  </table>

  <input type="button" id="btnOne" value="Get Report" class="k-button" />

<script type="text/javascript">
    $('#btnMyAccount').click(function () {
        window.location.href = '../Home/Index2';
        return false;
    });

    $('#btnAdSetup').click(function () {
        window.location.href = '../Campaign/CampaignSetup';
        return false;
    });
    $('#btnReporting').click(function () {
        window.location.href = '../Reporting/Index';
        return false;
    });
</script>