@model Semplest.Core.Models.ReportIndexModel
@{
    ViewBag.Title = "ReportDetails";
}
<script type="text/javascript">
    $(document).ready(function () {
        createChart();
        function createChart() {
            $("#chart").kendoChart({
                theme: 'metro',
                dataSource: {
                    transport: {
                        read: {
                            url: 'http://localhost:61294/Reporting/ReportGraph',
                            data: {
                                promotionFk: $("#PromotionFK").val(),
                                advertisingEngineFk: $("#EngineFK").val(),
                                startDate: $("#StartDate").val(),
                                endDate: $("#EndDate").val()
                            }
                        }, error: function (e) {
                            alert(e.xhr.responseText);
                        }
                    },
                    sort: {
                        field: "Date",
                        dir: "asc"
                    }

                },
                title: {
                    text: "Results for your " + $("#PromotionName").val() + " product group on " + $("#SearchEngineName").val() + " for " + $("#Start").val() + " - " + $("#End").val() + ""
                },
                legend: {
                    position: "top"
                },
                seriesDefaults: {
                    type: "line"
                },
                series:
                        [{
                            field: "Clicks",
                            name: "Clicks"
                        }, {
                            field: "Impressions",
                            name: "Impressions"
                        }, {
                            field: "Impressions",
                            name: "Impressions",
                            type: "column"
                        }],
                categoryAxis: {
                    field: "Date",
                },
                valueAxis: {
                    labels: {
                        format: "{0:N0}"
                    },
                    majorUnit: 2000
                },
                tooltip: {
                    visible: true,
                    format: "{0:N0}"
                }
            });
        }
    });
</script>
<div class="chart-wrapper" style="margin: auto;">
    <div id="chart">
    </div>
</div>
@Html.HiddenFor(t => t.PromotionFK)
@Html.HiddenFor(t => t.EngineFK)
@Html.HiddenFor(t => t.PromotionName)
@Html.HiddenFor(t => t.SearchEngineName)
@Html.HiddenFor(t => t.StartDate)
@Html.HiddenFor(t => t.EndDate)
@Html.HiddenFor(t => t.Start)
@Html.HiddenFor(t => t.End)
