@model Semplest.Admin.Models.CustomerAccountWithEmployeeModel
@{
    ViewBag.Title = "Add";
}
<style>
    label
    {
        text-align: left;
        width: 130px;
    }
    .initial
    {
        width: 40px;
    }
    .k-dropdownlist
    {
        width: 220px;
    }
    .k-datepicker
    {
        width: 135px;
    }
    .address
    {
        width: 217px;
    }
    .phone
    {
        width: 100px;
    }
    .state
    {
        width: 50px;
    }
    .zip
    {
        width: 70px;
    }
    .bill {
        width: 180px;
    }
</style>
@section Title{
Add Customer Account:
}
@section headscript{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.js")" type="text/javascript"></script>
    <script type="text/jscript">
        $(document).ready(function () {
            $("#datePicker").kendoDatePicker();
        });

        jQuery(function ($) {
            $("#CustomerAccount_Phone").mask("(999) 999-9999");
            $("#CustomerAccount_MiddleInitial").mask("a");
            //$("#CustomerAccount_Zip").mask("99999?-9999");
            
                                
        });
        $(document).ready(function () {
            $('#CustomerAccount_Email').keyup(function () {
                var content = $('#CustomerAccount_Email').val();
                $('#CustomerAccount_UserID').val(content);
            });
            $('.k-dropdownlist').kendoDropDownList();
        });

    </script>
}
@section Navbar{
    <script src="@Url.Content("~/Scripts/PanelBar.js")" type="text/javascript"></script>
}
@section Links{
    @Html.Partial("TopMenu")
}
@using (Html.BeginForm("Index"))
{
    @Html.ValidationSummary(true)
    <div id="productGroupModel">
        <div class="configuration">
            <ul class="options">
                <li>
                    <table>
                        <tr>
                            <td>
                                <ul class="options">
                                    <li>
                                        <label>
                                            Parent Name:
                                        </label>
                                        @Html.DropDownListFor(r => r.SelectedParentID, Model.Parents, new { @class = "k-dropdownlist" })
                                    </li>
                                    <li>
                                        <label>
                                            Company Name:</label>
                                        @Html.TextBoxFor(model => model.CustomerAccount.Customer, new { @class = "k-textbox address" })
                                        @Html.ValidationMessageFor(model => model.CustomerAccount.Customer)
                                    </li>
                                    <li>
                                        <label>
                                            First Name
                                        </label>
                                        @Html.TextBoxFor(model => model.CustomerAccount.FirstName, new { @class = "k-textbox" })
                                        @Html.ValidationMessageFor(model => model.CustomerAccount.FirstName)
                                    </li>
                                    <li>
                                        <label>
                                            Middle Inital
                                        </label>
                                        @Html.TextBoxFor(model => model.CustomerAccount.MiddleInitial, new { @class = "k-textbox initial" })
                                        @Html.ValidationMessageFor(model => model.CustomerAccount.MiddleInitial)
                                    </li>
                                    <li>
                                        <label>
                                            Last Name
                                        </label>
                                        @Html.TextBoxFor(model => model.CustomerAccount.LastName, new { @class = "k-textbox" })
                                        @Html.ValidationMessageFor(model => model.CustomerAccount.LastName)
                                    </li>
                                    <li>
                                        <label>
                                            Phone</label>
                                        @Html.TextBoxFor(model => model.CustomerAccount.Phone, new { @class = "k-textbox phone" })
                                        @Html.ValidationMessageFor(model => model.CustomerAccount.Phone)
                                    </li>
                                    <li>
                                        <label>
                                            Email</label>
                                        @Html.TextBoxFor(model => model.CustomerAccount.Email, new { @class = "k-textbox" })
                                        @Html.ValidationMessageFor(model => model.CustomerAccount.Email)
                                    </li>
                                    <li>
                                        <label>
                                            Rep</label>
                                        @Html.DropDownListFor(r => r.SelectedRepID, Model.Reps, new { @class = "k-dropdownlist" })
                                    </li>
                                    <li>
                                        <label>
                                            Salesperson
                                        </label>
                                        @Html.DropDownListFor(r => r.SelectedSalesPersonID, Model.SalesPersons, new { @class = "k-dropdownlist" })
                                    </li>
                                    <li>
                                        <label>
                                            Billing Address
                                        </label>
                                        @Html.TextBoxFor(model => model.CustomerAccount.Address1, new { @class = "k-textbox address" })
                                        @Html.ValidationMessageFor(model => model.CustomerAccount.Address1)
                                    </li>
                                    <li>
                                        <label>
                                        </label>
                                        @Html.TextBoxFor(model => model.CustomerAccount.Address2, new { @class = "k-textbox address" })
                                        @Html.ValidationMessageFor(model => model.CustomerAccount.Address2)
                                    </li>
                                    <li>
                                        @Html.LabelFor(model => model.CustomerAccount.City)
                                        @Html.TextBoxFor(model => model.CustomerAccount.City, new { @class = "k-textbox" })
                                        @Html.ValidationMessageFor(model => model.CustomerAccount.City)
                                    </li>
                                    <li>
                                        @Html.LabelFor(model => model.CustomerAccount.State)
                                        @Html.DropDownListFor(r => r.SelectedStateID, Model.States, new { @class = "k-dropdownlist state" })
                                    </li>
                                    <li>
                                        @Html.LabelFor(model => model.CustomerAccount.Zip)
                                        @Html.TextBoxFor(model => model.CustomerAccount.Zip, new { @class = "k-textbox zip" })
                                        @Html.ValidationMessageFor(model => model.CustomerAccount.Zip)
                                    </li>
                                </ul>
                            </td>
                            <td style="vertical-align: top;">
                                <ul class="options" style="margin-left: 50px;">
                                    <li>
                                        <label>
                                            Role</label>
                                        @Html.DropDownListFor(r => r.SelectedRoleID, Model.Roles, new { @class = "k-dropdownlist" })
                                    </li>
                                    <li>
                                        <label>
                                            Status</label>
                                        Active
                                        @Html.RadioButtonFor(model => model.CustomerAccount.isActive, "True", new { @checked = "checked" })
                                        Inactive
                                        @Html.RadioButtonFor(model => model.CustomerAccount.isActive, "False")
                                    </li>
                                    <li>
                                        @Html.LabelFor(model => model.CustomerAccount.UserID)
                                        @Html.TextBoxFor(model => model.CustomerAccount.UserID, new { @class = "k-textbox" })
                                        @Html.ValidationMessageFor(model => model.CustomerAccount.UserID)
                                    </li>
                                    <li>
                                        @Html.LabelFor(model => model.CustomerAccount.UserPassword)
                                        @Html.TextBoxFor(model => model.CustomerAccount.UserPassword, new { @class = "k-textbox" })
                                        @Html.ValidationMessageFor(model => model.CustomerAccount.UserPassword)
                                    </li>
                                    <li>
                                        @Html.LabelFor(model => model.CustomerAccount.internalID)
                                        @Html.TextBoxFor(model => model.CustomerAccount.internalID, new { @class = "k-textbox" })
                                        @Html.ValidationMessageFor(model => model.CustomerAccount.internalID)
                                    </li>
                                    <li>
                                        <fieldset style="margin-top:10px">
                                            <legend>Billing</legend>
                                            <div style="margin: 5px;">
                                                @Html.LabelFor(model => model.BillTypes, new { @style = "width:125px;" })
                                                @Html.DropDownListFor(r => r.SelectedBillTypeID, Model.BillTypes, new { @class = "k-dropdownlist bill" })
                                                <br style="line-height: 20px;" />
                                                <label> Monthly Fee</label>
                                                @Html.TextBoxFor(model => model.CustomerAccount.ServiceFee, new { @class = "k-textbox" })
                                                @Html.ValidationMessageFor(model => model.CustomerAccount.ServiceFee)
                                                <br style="line-height: 40px;" />
                                                <label>% Media</label>
                                                @Html.TextBoxFor(model => model.CustomerAccount.PercentMedia, new { @class = "k-textbox" })
                                                @Html.ValidationMessageFor(model => model.CustomerAccount.PercentMedia)

                                                 <br style="line-height: 40px;" />

                                                 @Html.LabelFor(model => model.CustomerAccount.CreditLimit, new { @style = "width:125px;" })
                                                @Html.TextBoxFor(model => model.CustomerAccount.CreditLimit, new { @class = "k-textbox" })
                                                @Html.ValidationMessageFor(model => model.CustomerAccount.CreditLimit)
                                                
                                                <br style="line-height: 40px;" />
                                                @Html.LabelFor(model => model.CustomerAccount.PromotionFeeAmount, new { @style = "width:125px;" })
                                                @Html.TextBoxFor(model => model.CustomerAccount.PromotionFeeAmount, new { @class = "k-textbox" })
                                                @Html.ValidationMessageFor(model => model.CustomerAccount.PromotionFeeAmount)
                                                <br style="line-height: 40px;" />
                                                @Html.CheckBoxFor(model => model.CustomerAccount.PromotionFeeOverride)
                                                @Html.LabelFor(model => model.CustomerAccount.PromotionFeeOverride, new { @style = "width:125px;" })
                                                
                                                
                                            </div>
                                        </fieldset>
                                    </li>
                                    <li>
                                        <div style="margin-top:10px">
                                        @Html.LabelFor(model => model.CustomerAccount.CustomerNote, new { @style = "vertical-align:top" })
                                        @Html.TextAreaFor(model => model.CustomerAccount.CustomerNote, 5, 20, new { @class = "k-textarea" })
                                        @Html.ValidationMessageFor(model => model.CustomerAccount.CustomerNote)
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <div style="text-align: center">
                        <input type="checkbox" name="sendcustomeremail" checked="checked" />
                        <label style="margin-top: 1px;">
                            Send Customer Email</label>
                        <br />
                    </div>
                </li>
                <li>
                    <div style="text-align: center">
                        <br />
                        <hr />
                        <input type="submit" value="Save" name="command" class="k-button" />
                        <input type="submit" name="command" value="Cancel" class="k-button cancel" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
}
