@model SemplestAdminApp.Models.ProfileModel
@{
    ViewBag.Title = "LogOn";
}

<h2>Log In</h2>

@using (Html.BeginForm()) {
        <fieldset>
            <legend>Account Information</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName, new { @class = "k-textbox"})
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <p>
                <input type="submit" value="Log On" class ="k-button" />
            </p>
        </fieldset>
}