@using Semplest.Core.Helpers
@model Semplest.Core.Models.AdModel
<script src="@Url.Content("~/Scripts/Maps.js")" type="text/javascript"> </script>
<div id="adModel" class="configuration">
    <ul class="options">
        <li>
            <h3>
                Location (Enter Address,City,State or Zip) <a href ="#" class="help-button" id="helpbutton6" rel="@System.Configuration.ConfigurationManager.AppSettings["ClueHelpUrl"]6"  tabindex="-1" >
                    ?</a></h3>
        </li>
        <li>
            <fieldset style="padding-bottom: 10px">
                <legend>Business Address</legend>
                <table>
                    <tr>
                        <td>
                            <div id="addresses">
                                @Html.EditorFor(t => t.Addresses)
                            </div>
                            <div style="text-align: left; margin-left: 75px; margin-top: -30px;">
                                @Html.LinkToAddNestedForm("Add Additional Business Location", "#addresses", ".address", "AdModelProp.Addresses", typeof(SemplestModel.GeoTargeting), "AdModelProp")
                            </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </li>
        <li class="infoHead">
            <h3>
                Ad Copy</h3>
        </li>
        <li>
            <label style="width: 68px">
                URL <a href ="#" class="help-button" id="helpbutton7" rel="@System.Configuration.ConfigurationManager.AppSettings["ClueHelpUrl"]7"  tabindex="-1" >
                    ?</a></label>
            @Html.TextBoxFor(m => m.Url, new { @class = "k-textbox k-textboxAd1", @required = true, @validationmessage = "Please enter {0}" })
            @Html.ValidationMessageFor(t => t.Url)
            <span>This url will appears in all of your ads</span> </li>
        <li>
            <div id="ads">
                @Html.EditorFor(t => t.Ads)
            </div>
        </li>
        <li>
            <div style="margin-left: 77px;">
                @Html.LinkToAddNestedForm("Create Another Ad", "#ads", ".ads", "AdModelProp.Ads", typeof(SemplestModel.PromotionAd), "AdModelProp")
            
                <button class="k-button" id="negativeKeyWords" type="button" style="margin-left: 55px">
                    <span class="k-add k-icon"></span>Negative Keywords</button>
                <a href ="#" class="help-button" id="helpbutton11" rel="@System.Configuration.ConfigurationManager.AppSettings["ClueHelpUrl"]11"  tabindex="-1" >
                    ? </a>
                <button type="button" class="additionalLinks k-button" style="margin-left: 10px">
                    <span class="k-add k-icon"></span>Add additional click through options</button>
                <a href ="#" class="help-button" id="helpbutton10" rel="@System.Configuration.ConfigurationManager.AppSettings["ClueHelpUrl"]10"  tabindex="-1" >
                    ?</a>
            </div>
        </li>
        <li class="options">
            <hr />
            <div style="text-align: center;">
                <button class="k-button" id="back1" type="button">
                    <span class="k-back k-icon"></span>back</button>
                <button class="k-button" id="getCategories" type="submit" name="Command" value="GetCategories">
                    <span class="k-update k-icon"></span>Save And Continue</button>
            </div>
        </li>
        <li class="status"></li>
    </ul>
    <style scoped>
        .k-textboxAd
        {
            width: 145px;
        }
        .k-textboxAdDescrition
        {
            width: 200px;
        }
        .k-textboxAd1
        {
            width: 250px;
        }
    </style>
</div>
<script type="text/javascript">
    $('#getCategories').click(function () {
        var urlStr = $('#LogoUrlStr').val() + 'reviewing your input.jpg';
        $('#displayBox').attr('src', urlStr);
    });
</script>
