@using Semplest.Core.Helpers
@using Semplest.SharedResources.Helpers
@model SemplestModel.GeoTargeting
<div class="address">
    <table>
        <tr>
            <td>
                <label style="min-width: 65px">
                    Street</label>
            </td>
            <td>
                @Html.TextBoxFor(t => t.Address, new { @class = "street textboxAd" })
            </td>
            <td rowspan="5">
                <div style="margin-left: 85px; width: 400px; height: 160px">
                    <div class="map" style="width: 400px; height: 160px">
                    </div>
                </div>
            </td>
            <td>
                @Html.HiddenFor(x => x.Delete, new { @class = "mark-for-delete" })
            </td>
        </tr>
        <tr>
            <td>
                <label style="min-width: 65px">
                    City</label>
            </td>
            <td>
                @Html.TextBoxFor(t => t.City, new { @class = "street" })
                @Html.ValidationMessageFor(t => t.City)
            </td>
        </tr>
        <tr>
            <td>
                <label style="min-width: 65px">
                    State</label>
            </td>
            <td>
                @Html.DropDownListFor(t => t.StateCodeFK, new SelectList(Model.StateCodes, "StateAbbrPK", "StateAbbr", @Model.StateCodeFK), new { @class = "k-dropdownlist state" })
            </td>
        </tr>
        <tr>
            <td>
                <label style="min-width: 65px">
                    Zip</label>
            </td>
            <td>
                @Html.TextBoxFor(t => t.Zip, new { @class = "zip" })
            </td>
        </tr>
        <tr>
            <td>
                <label style="min-width: 65px">
                    Proximity</label>
            </td>
            <td>
                @Html.TextBoxFor(t => t.ProximityRadius, new { @class = "proximity" })<label style="padding-left: 10px">
                    in miles</label>
                @Html.ValidationMessageFor(t => t.ProximityRadius)
                @Html.TextBoxFor(t => t.Latitude, new { @class = "hidden" })
                @Html.TextBoxFor(t => t.Longitude, new { @class = "hidden" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
            </td>
            <td>
                <span style="margin-left: 84px">
                    @Html.LinkToRemoveNestedForm("Delete Address", "div.address", "input.mark-for-delete")</span>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                @Html.ValidationSummary(true)
            </td>
        </tr>
    </table>
</div>
<script>

    $("#@Html.ClientIdFor(t => t.ProximityRadius)").change(function () {
        doOptions();
    });
    $("#@Html.ClientIdFor(t => t.City)").change(function () {
        doOptions();
    });
    $("#@Html.ClientIdFor(t => t.StateCodeFK)").change(function () {
        doOptions();
    });
    $("#@Html.ClientIdFor(t => t.Zip)").change(function () {
        doOptions();
    });
    $("#@Html.ClientIdFor(t => t.Address)").change(function () {
        doOptions();
    });
</script>
<style>
    .address
    {
    }
    .hidden
    {
        display: none;
    }
    .street
    {
        width: 150px;
        border-color: grey;
        background-color: #fff;
        color: #777;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        font-size: 100%;
        font-family: inherit;
        border-style: solid;
        border-width: 1px;
        -webkit-appearance: none;
        outline: 0;
        height: 1.66em;
        line-height: 1.66em;
        padding: 2px 0;
        text-indent: .3em;
    }
    .street:hover
    {
        border-color: #e6e6e6;
    }
    .state
    {
        width: 34%;
    }
    .zip
    {
        width: 70px;
        border-color: grey;
        background-color: #fff;
        color: #777;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        font-size: 100%;
        font-family: inherit;
        border-style: solid;
        border-width: 1px;
        -webkit-appearance: none;
        outline: 0;
        height: 1.66em;
        line-height: 1.66em;
        padding: 2px 0;
        text-indent: .3em;
    }
    .proximity
    {
        width: 45px;
        border-color: grey;
        background-color: #fff;
        color: #777;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        font-size: 100%;
        font-family: inherit;
        border-style: solid;
        border-width: 1px;
        -webkit-appearance: none;
        outline: 0;
        height: 1.66em;
        line-height: 1.66em;
        padding: 2px 0;
        text-indent: .3em;
    }
</style>
