@using Semplest.Core.Helpers
@using SemplestWebApp.Helpers
@model SemplestModel.GeoTargeting
<div class="address">
    <table>
        <tr>
            <td>
                Street
            </td>
            <td>
                @Html.TextBoxFor(t => t.Address, new { @class = "k-textbox k-textboxAd" })
                <button type="button" class="k-button" style="vertical-align: top" onclick="doOptions()">
                    <span class="k-search k-icon"></span>
                </button>
            </td>
            <td rowspan="5">
                <div id="optionsNarrative">
                </div>
                @Html.HiddenFor(x => x.Delete, new { @class = "mark-for-delete" })
                @Html.LinkToRemoveNestedForm("Delete", "div.address", "input.mark-for-delete")
            </td>
        </tr>
        <tr>
            <td>
                City
            </td>
            <td>
                @Html.TextBoxFor(t => t.City, new { @class = "k-textbox k-textboxAd" })
                @Html.ValidationMessageFor(t => t.City)
            </td>
        </tr>
        <tr>
            <td>
                State
            </td>
            <td>
                @Html.DropDownListFor(t => t.StateCodeFK, new SelectList(Model.StateCodes, "StateAbbrPK", "StateAbbr",@Model.StateCodeFK), new { @class = "k-dropdownlist" })
            </td>
        </tr>
        <tr>
            <td>
                Zip
            </td>
            <td>
                @Html.TextBoxFor(t => t.Zip, new { @class = "k-textbox k-textboxAd" })
            </td>
        </tr>
        <tr>
            <td>
                Proximity
            </td>
            <td>
                @Html.TextBoxFor(t => t.ProximityRadius, new { @class = "k-textbox k-textboxAd" })
                @Html.ValidationMessageFor(t => t.ProximityRadius)
                @Html.TextBoxFor(t => t.Latitude, new { @class = "hidden" })
                @Html.TextBoxFor(t => t.Longitude, new { @class = "hidden" })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @Html.ValidationSummary(true)
            </td>
        </tr>
    </table>
</div>
<style>
    .hidden
    {
        display: none;
    }
</style>