@model Semplest.Core.Models.ProductGroupModel
<div class="k-header" id="productGroupModel">
    <!--end user-details-->
    <div class="configuration1">
        <ul class="options">
            <li>
                <label for="productGroupName" class="required">
                    @Html.LabelFor(t => t.Configuration.DefaultProductGroupName)
                </label>
                <br />
                @Html.TextBoxFor(t => t.ProductGroupName, new { @class = "k-textbox", @required = true, @validationmessage = "Please enter Product Group Name" })
            </li>
            <li>
                <label for="productPromotionName" class="required">
                    @Html.LabelFor(t => t.Configuration.DefaultProductPromotionName)
                </label>
                <br />
                @Html.TextBoxFor(t => t.ProductPromotionName, new { @class = "k-textbox", @required = true, @validationmessage = "Please enter Promotion Name" })
            </li>
            <li>
                <h4 class="required">
                    Please type in several words or phrases that describe your business or what you
                    sell or are promoting (separated by commas) to help us build your search campaign:
                </h4>
                @Html.TextBoxFor(t => t.Words, new { @class = "k-textbox", @required = true, @validationmessage = "Please enter Some Words", @style = "min-width:400px" })
            </li>
            <li>
                <label for="Budget" class="required">
                    Budget
                </label>
                @Html.TextBoxFor(t => t.Budget, new { @class = "k-textbox", @required = true, @validationmessage = "Please enter {0}" })
                <span style="color: #BFBFBF; margin-left: 5px;">Minimum Order Amount is @Convert.ToInt32(@Model.Configuration.CustomerMinOrderAmount)</span>
@*                @Html.HiddenFor(t => t.Configuration.CustomerMinOrderAmount)
*@            </li>
            <li>
                <label for="StartDate" class="required">
                    Product Start Date
                </label>
                @Html.TextBoxFor(t => t.StartDate, new { @class = "k-textbox", @required = true, @validationmessage = "Please select {0}", @placeholder = "Start" })
                <label for="StartEndDate" class="required">
                    Period
                </label>
                <select id="dropDownPeriodList" name="dropDownPeriodList">
                    <option value="EachMonth">Each Month</option>
                    <option value="SpecificMonth">Specific Month</option>
                </select>
                @Html.TextBoxFor(t => t.EndDate, new { @class = "k-textbox enddate", @validationmessage = "Please select {0}", @placeholder = "End" })
            </li>
            <li>
                <label for="SearchEngines" class="required">
                    Search Engines
                </label>
                @Html.CheckBoxListFor(t => t.AdEnginesList, t => t.AdvertisingEngines, t => t.Id, t => t.Name, t => t.AdEnginesSelectedList)
            </li>
            <li>
                <br />
                <button class="k-button" id="save1" type="button">
                    <span class="k-update k-icon"></span>Continue
                </button>
            </li>
            <li class="status"></li>
        </ul>
    </div>
</div>