@model Semplest.Core.Models.ProductGroupModel
<div id="productGroupModel">
    <div class="configuration">
        <ul class="options">
            <li>
                <h3>
                    @Model.Configuration.DefaultProductGroupName <a href ="#" class="help-button" id="helpbutton1" rel="@System.Configuration.ConfigurationManager.AppSettings["ClueHelpUrl"]1" tabindex="-1" >
                        ?</a>
                </h3>
                @Html.TextBoxFor(t => t.ProductGroupName, new { @class = "k-textbox", @required = true, @validationmessage = "Please enter " + @Model.Configuration.DefaultProductGroupName })
            </li>
            <li>
                <h3>
                    @Model.Configuration.DefaultProductPromotionName <a href ="#" class="help-button" id="helpbutton2" rel="@System.Configuration.ConfigurationManager.AppSettings["ClueHelpUrl"]2"  tabindex="-1" >
                        ?</a>
                </h3>
                @Html.TextBoxFor(t => t.ProductPromotionName, new { @class = "k-textbox", @required = true, @validationmessage = "Please enter " + @Model.Configuration.DefaultProductPromotionName })
            </li>
            <li>
                <h3 style="margin-top: 5px;">
                    Description <a href ="#" class="help-button" id="helpbutton3" rel="@System.Configuration.ConfigurationManager.AppSettings["ClueHelpUrl"]3"  tabindex="-1" >
                        ?</a>
                </h3>
                <label for="ProductGroupModel_Words" style="color: #BFBFBF; margin-top: 5px;">
                    Please type in several words or phrases that describe your business or what you
                    sell or are promoting (separated by commas) to help us build your search campaign:
                </label>
                <br />
                @Html.TextAreaFor(t => t.Words, new { @class = "k-textbox1", @required = true, @validationmessage = "Please enter Some Words", @rows = "4", @cols = "110" })
            </li>
            <li>
                <h3>
                    Budget <a href ="#" class="help-button" id="helpbutton4" rel="@System.Configuration.ConfigurationManager.AppSettings["ClueHelpUrl"]4"  tabindex="-1" >
                        ?</a>
                </h3>
                @(!@Model.IsEdit ? Html.TextBoxFor(t => t.Budget, new { @class = "k-textboxbudget", @required = true, @minreq = true, @style = "width:60px" }) : Html.TextBoxFor(t => t.Budget, new { @class = "k-textboxbudget", @required = true, @validationmessage = "Please enter {0}", @style = "width:60px" }))
                @Html.HiddenFor(t => t.Configuration.CustomerMinOrderAmount)
                <br />
                <label style="color: #BFBFBF; margin-top: 5px;">
                    Enter whole numbers only. Ex: $100 not $100.00 Minimum @Convert.ToInt32(@Model.Configuration.CustomerMinOrderAmount)</label>
            </li>
            <li>
                <label for="StartDate" class="required">
                    Product Start Date
                </label>
                @Html.TextBoxFor(t => t.StartDate, new { @class = "k-textbox", @required = true, @validationmessage = "Please select {0}", @placeholder = "Start" })
                <label for="StartEndDate" class="required">
                    Period
                </label>
                <select id="dropDownPeriodList" name="dropDownPeriodList">
                    <option value="EachMonth">Each Month</option>
                    <option value="SpecificMonth">Specific Period</option>
                </select>
                @Html.TextBoxFor(t => t.EndDate, new { @class = "k-textbox enddate", @validationmessage = "Please select {0}", @placeholder = "End" })
            </li>
            <li>
                <label for="SearchEngines" class="required">
                    Search Engines <a href ="#" class="help-button" id="helpbutton5" rel="@System.Configuration.ConfigurationManager.AppSettings["ClueHelpUrl"]5 "  tabindex="-1"  >
                        ?</a>
                </label>
                <br />
                @Html.CheckBoxListFor(t => t.AdEnginesList, t => t.AdvertisingEngines, t => t.Id, t => t.Name, t => t.ImageUrl, t => t.AdEnginesSelectedList, new { })
                @Html.ValidationMessageFor(t => t.AdEnginesList)
            </li>
            <li>
                <hr />
                <div style="text-align: center">
                <button class="k-button" id="save1" type="button">
                    <span class="k-update k-icon"></span>Continue
                </button>
                </div>
            </li>
            <li class="status"></li>
        </ul>
    </div>
</div>
<style>
    .k-textbox1
    {
        border-color: grey;
        background-color: #fff;
        color: #777;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        font-size: 100%;
        font-family: inherit;
        border-style: solid;
        border-width: 1px;
        -webkit-appearance: none;
        outline: 0;
        line-height: 1.66em;
        text-indent: .3em;
        height: 3.5em;
    }
    .k-textbox1:hover
    {
        border-color: #e6e6e6;
    }
    .k-textboxbudget
    {
        border-color: grey;
        background-color: #fff;
        color: #777;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        font-size: 100%;
        font-family: inherit;
        border-style: solid;
        border-width: 1px;
        -webkit-appearance: none;
        outline: 0;
        line-height: 1.66em;
        padding: 2px 0;
        text-indent: .3em;
        height: 1.6em;
        width: 60px;
    }
    .k-textboxbudget:hover
    {
        border-color: #e6e6e6;
    }
</style>
