@using Semplest.Core.Helpers
@using System.Web.Mvc

@model SemplestModel.SiteLink
    <li class="sitelinks">
        <label>
            Name
        
        </label>
        @Html.TextBoxFor(t => t.LinkText, new {@class = "k-textbox", @required = true, @validationmessage = "Please enter {0}"})
        @Html.ValidationMessageFor(t => t.LinkText)
        <label>
            Url</label>
        @Html.TextBoxFor(t => t.LinkURL, new {@class = "k-textbox", @required = true, @validationmessage = "Please enter {0}"})
        @Html.ValidationMessageFor(t => t.LinkURL)
        @Html.LinkToRemoveNestedForm("Delete", "li.sitelinks", "input.mark-for-delete")
    </li>

