@model SemplestAdminApp.Models.User
@section NavBar {
    <script src="@Url.Content("~/Scripts/PanelBar.js")" type="text/javascript"></script>
}
@section Title{
Edit
}
@section Links{
    @Html.Partial("TopMenu")
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>User</legend>@*<div class="editor-label">
            @Html.LabelFor(model => model.UserPK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserPK)
            @Html.ValidationMessageFor(model => model.UserPK)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerFK)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerFK)
            @Html.ValidationMessageFor(model => model.CustomerFK)
        </div>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "k-textbox" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.MiddleInitial)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MiddleInitial, new { @class = "k-textbox" })
            @Html.ValidationMessageFor(model => model.MiddleInitial)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LastName, new { @class = "k-textbox" })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email, new { @class = "k-textbox" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CreatedDate, new { @class = "k-textbox" })
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EditedDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EditedDate, new { @class = "k-textbox" })
            @Html.ValidationMessageFor(model => model.EditedDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.IsActive, new { @class = "k-textbox" })
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
        <p>
            <input type="submit" value="Save" class="k-button" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
